@import "../colors";

@import "../sizes";


@mixin footer {
    .footer {
        background-color: $section;
        font-family: archivo;
        margin-top: 80px;

        .container {
            display: flex;
            flex-direction: column;
            max-width: 1500px;
            margin: 0 auto;

            .top {
                display: flex;

                @media (min-width: $max_mobile) {
                    flex-direction: column;
                    //justify-content: center;
                }

                @media (min-width: $max_tablet) {

                    flex-direction: row;
                }

                justify-content: space-between;
                padding-top: 20px;
                padding-bottom: 20px;
                border-bottom: 1px solid $gray-6;

                .logo {
                    display: flex;
                    justify-content: center;
                }

                .logo-dark {
                    display: none;
                    justify-content: center;
                }

                .icon-network {
                    height: 20px;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    gap: 10px;
                    color: $primary-pink;
                    padding: 30px;

                    .i {}

                    .text p {
                        margin: 0;
                        padding: 0;
                        color: $gray-3;

                    }
                }
            }

            .link-area {
                display: grid;

                @media (min-width: $max_mobile) {
                    grid-template-columns: repeat(1, auto);
                }

                @media (min-width: $max_tablet) {
                    grid-template-columns: repeat(1, auto);
                }

                @media (min-width: $max_desktop) {

                    grid-template-columns: repeat(5, auto);
                    grid-template-rows: repeat(2, auto);
                }

                border-bottom: 1px solid $gray-6;

                .ilhas-brasil {
                    display: grid;

                    @media (min-width: $max_mobile) {
                        grid-column: 1;
                    }

                    @media (min-width: $max_tablet) {

                        grid-column: 1/4;
                    }

                    .desktop-btn {
                        /* Fonts Web/Button */

                        font-size: 18px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 24px;
                        /* 133.333% */
                        color: $gray-3;
                    }

                    .grid-link-1 {
                        //background-color: rgb(167, 248, 144);
                        height: auto;
                        display: grid;
                        color: $gray-5;

                        @media (min-width: $max_mobile) {
                            grid-template-columns: repeat(2, auto);
                        }

                        @media (min-width: $max_tablet) {

                            grid-template-columns: repeat(4, auto);
                        }
                    }

                    .grid-link-2 {
                        //background-color: rgb(85, 220, 48);
                        height: auto;
                        display: grid;
                        color: $gray-5;

                        @media (min-width: $max_mobile) {
                            grid-template-columns: repeat(2, auto);
                        }

                        @media (min-width: $max_tablet) {

                            grid-template-columns: repeat(4, auto);
                        }
                    }

                    .grid-link-3 {
                        //background-color: rgb(39, 167, 4);
                        height: auto;
                        display: grid;
                        color: $gray-5;

                        @media (min-width: $max_mobile) {
                            grid-template-columns: repeat(2, auto);
                        }

                        @media (min-width: $max_tablet) {

                            grid-template-columns: repeat(4, auto);
                        }
                    }

                }

                .institutional {
                    display: flex;
                    flex-direction: column;

                    .desktop-btn {
                        /* Fonts Web/Button */

                        font-size: 18px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 24px;
                        /* 133.333% */
                        color: $gray-3;


                    }

                    .grid-link-1 {
                        color: $gray-5;
                    }
                }

                .help {
                    display: flex;
                    flex-direction: column;

                    .desktop-btn {
                        /* Fonts Web/Button */

                        font-size: 18px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 24px;
                        /* 133.333% */
                        color: $gray-3;
                    }

                    .grid-link-1 {
                        color: $gray-5;
                    }
                }

            }

            .bottom-area {
                font-size: 16px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                //padding: 24px;
                color: $gray-3;
                padding: 6px;

                .pink-bar {
                    background-color: $primary-pink;
                    width: 100%;
                    height: 4px;
                }
            }


        }
    }

}


@mixin footer-dark {
    .footer {
        background-color: $dark-1;

        .container {

            .top {


                .logo {
                    display: none;
                    justify-content: center;
                }

                .logo-dark {
                    display: flex;
                    justify-content: center;
                }

                .icon-network {


                    .i {}

                    .text p {

                        color: $white;

                    }
                }
            }

            .link-area {


                .ilhas-brasil {

                    .desktop-btn {

                        color: $white;
                    }

                    .grid-link-1 {

                        color: $section;

                    }

                    .grid-link-2 {

                        color: $section;

                    }

                    .grid-link-3 {

                        color: $section;

                    }

                }

                .institutional {
                    .desktop-btn {

                        color: $white;

                    }

                    .grid-link-1 {
                        color: $section;
                    }
                }

                .help {
                    .desktop-btn {

                        color: $white;
                    }

                    .grid-link-1 {
                        color: $section;
                    }
                }

            }

            .bottom-area {

                color: $section;

                .pink-bar {

                }
            }


        }
    }

}


//@include footer();