@import "../colors";

@import "../sizes";


@mixin section-recent {
    .section-recent {
        background-color: $section;
        font-family: archivo;
        margin-top: 80px;
        padding-top: 64px;
        padding-bottom: 64px;

        .container {
            display: flex;
            flex-direction: column;
            max-width: 1500px;
            margin: 0 auto;

            gap: 20px;

            .title {
                display: flex;
                flex-direction: column;
                align-items: center;

                .desktop-h2 {

                    font-size: 32px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 40px;
                    color: $gray-3;
                    margin: 0;
                    padding: 0;
                }
            }

            .subtitle {
                display: flex;
                flex-direction: column;
                align-items: center;

                .desktop-h4 {
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                    color: $gray-5;
                    margin: 0;
                    padding: 0;
                }
            }

            .cards-area {
                display: grid;

                @media (min-width: $max_mobile) {
                    grid-template-columns: repeat(1, auto);
                }

                @media (min-width: $max_tablet) {

                    grid-template-columns: repeat(2, auto);
                }

                @media (min-width: $max_desktop) {

                    grid-template-columns: repeat(4, auto);
                }

                gap: 16px;

                //background-color: #c799f2;
                .card {
                    background-color: $white;
                    max-height: 800px;
                    height: auto;
                    //max-width: 300px;
                    width: 100%;
                    border-radius: 10px;
                    box-shadow: 0px 10px 6px -3px rgba(0, 0, 0, 0.1);

                    .img-area {
                        position: relative;
                        background-color: #8a2be2;
                        height: 500px;
                        border-top-left-radius: 10px;
                        border-top-right-radius: 10px;

                        img {
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                            border-top-left-radius: 10px;
                            border-top-right-radius: 10px;
                        }

                        .icon-container-play {
                            position: absolute;
                            bottom: 10px;
                            right: 10px;
                            //background-color: #ffffff;
                            width: 100px;
                            height: 80px;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                            .i {
                                color: #ff00c3;
                                font-size: 24px;
                            }
                        }

                        .icon-container-fire {
                            position: absolute;
                            bottom: 10px;
                            left: 10px;
                            //background-color: #ffffff;
                            width: 100px;
                            height: 80px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            cursor: pointer;

                            .i {
                                color: #ff00c3;
                                font-size: 10%;
                            }
                        }

                    }

                    .text-area {

                        color: $gray-3;
                        padding-inline: 8px;
                        padding-bottom: 5px;

                        p {
                            margin: 4px;
                        }

                        .text1 {

                            font-size: 24px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 24px;

                            margin-top: 10px;
                        }

                        .text2 {
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 24px;

                            color: $gray-5;
                        }

                        .text3 {
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 24px;
                            color: $primary-pink;
                        }
                    }

                }
            }
        }
    }

}

@mixin section-recent-dark {
    .section-recent {
        background-color: $dark-3;

        .container {

            .title {

                .desktop-h2 {
                    color: $white;
                }
            }
            .subtitle {

                .desktop-h4 {

                    color: $white
                }
            }

            .cards-area {

                .card {
                    background-color: $dark-1;

                    .img-area {

                        img {}

                        .icon-container-play {

                            .i {}
                        }

                        .icon-container-fire {

                            .i {}
                        }

                    }

                    .text-area {

                        p {}

                        .text1 {

                            color: $white;
                        }

                        .text2 {

                            color: $section;
                        }

                        .text3 {

                        }
                    }

                }
            }
        }
    }

}


//@include section-seemore();