@import "../colors";

@import "../btn-style";


@mixin section-base{
    //padding: 64px 487px;
    padding: 64px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

@mixin section-text1{
    .section-text1 {
        background-color: $section;
        @include section-base();
        font-family: archivo;
        margin-top: 80px;
        .container-s1 {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-align: center;
            max-width: 450px;
            //background-color: $white;
    
            .text-large {
                font-size: 32px;
                font-style: normal;
                font-weight: 600;
                line-height: 40px;
            }
    
            .text-info {
                font-size: 20px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                color: $gray-5;
            }
            .btn-pink{
                height: 50px;
                width: auto;
                padding: 6px;
                color: $white;
                border-radius: 6px;
                background-color: $primary-pink;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-content: center;
                cursor: pointer;
                p {
                    margin: 0;
                    padding: 0;
                    text-align: center;
                    font-size: 16px;
                    font-style: normal;
                    font-weight: 700;
                    line-height: 150%;
                }
            }
        }
    }

}


@mixin section-text1-dark{
    .section-text1 {
        background-color: $dark-3;

        .container-s1 {

    
            .text-large {

                color: $white;
            }
    
            .text-info {

                color: $section;
            }
            .btn-pink{

                p {

                }
            }
        }
    }

}

//@include section-text1;