@import "../colors";
@import "../fonts";
@import "../btn-style";


@mixin section-text2{
    .section-text2{
        background-color: $section;
        background-image: $gradient;
        color: $white;
        padding-top: 64px;
        padding-bottom: 64px;
        .container-s2{
            max-width: 1500px;
            margin: 0 auto;
            display: grid;
            @media (min-width: 0px){
                grid-template-columns: repeat(1, auto);
            }
            @media (min-width: 768px){
    
                grid-template-columns: repeat(2, auto);
            }
            
            gap: 10%;
            .logo-area{
                max-height: 100%;
                max-width: 100%;
                //background-color: red;
                object-fit: cover;
                display: flex;
                justify-content: center;
                align-items: center;
                .i{
                    width: 65%;
                    height: auto;
                }
            }
            .text-area{
                max-width: 500px;
                text-align: center;
                .text-large{
                    font-family: archivo;
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 40px;
                }
                .text-info{
                    font-family: archivo;
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                    color: $white;
                }
                .icons{
                    display: flex;
                    flex-direction: row;
                    gap: 15px;
                    @media (min-width: 0px){
                        justify-content: center;
                    }
                    @media (min-width: 768px){
                        justify-content: start;
    
                    }
                }
            }
        }
    }

}

