@import "../colors";

@import "../sizes";

@mixin card-social {
    .card-social {
        background-color: $white;
        //background-color: red;
        font-family: archivo;
        max-width: 600px;
        height: auto;
        border-radius: 8px;
        padding: 8px;
        box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.10);

        .container {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 6px;

            .header-area {
                display: flex;
                flex-direction: row;
                gap: 10px;

                .photo-profile {
                    width: 150px;
                    height: 80px;

                    img {
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 8px;
                    }
                }

                .details-profile {
                    width: 100%;
                    display: flex;
                    flex-direction: column;
                    gap: 6px;

                    .name-time {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;

                        .mobile-h3 {
                            /* Fonts Mobile/H3 */
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 24px;
                            /* 133.333% */
                            color: $gray-5;
                            margin: 0;
                            padding: 0;
                        }
                    }

                    .desktop-h4 {
                        /* Fonts Web/H4 */

                        font-size: 20px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px;
                        margin: 0;
                        padding: 0;
                        color: $gray-3;
                    }

                    .stars {}
                }
            }

            .photo-area {
                width: 100%;
                height: 645px;

                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 8px;
                }

            }

            .social-area {
                width: 100%;

                .action-area {
                    //background-color: brown;
                    width: 100%;

                    .top {
                        display: flex;
                        flex-direction: row;
                        flex-wrap: wrap;
                        //background-color: green;
                        justify-content: space-around;
                        border-bottom: 1px solid var(--color-gray-05, #C6C5CE);

                        .like {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            gap: 8px;
                            flex: 0 0 100px;

                            .mini-text {
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 24px;
                            }
                        }

                        .comment {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            gap: 8px;
                            flex: 0 0 100px;

                            .mini-text {
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 24px;
                            }
                        }

                        .share {
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            gap: 8px;
                            flex: 0 0 100px;

                            .mini-text {
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 24px;
                            }
                        }
                    }

                    .comment-area {

                        //background-color: orange;
                        .comment-card {
                            display: flex;
                            flex-direction: column;
                            background-color: $section;
                            margin: 8px;
                            padding: 6px;
                            border-radius: 8px;
                            gap: 6px;

                            .name-time {
                                display: flex;
                                flex-direction: row;
                                justify-content: space-between;

                                .mobile-h3 {
                                    /* Fonts Mobile/H3 */
                                    font-size: 18px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 24px;
                                    /* 133.333% */
                                    margin: 0;
                                    padding: 0;
                                    color: $gray-5;
                                }

                                .mini-text2 {
                                    font-size: 14px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 16px;
                                    margin: 0;
                                    padding: 0;
                                    color: $gray-5;
                                }
                            }

                            .content {
                                .mobile-h4 {
                                    font-size: 20px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 24px;
                                    /* 120% */
                                    margin: 0;
                                    padding: 0;
                                    color: $gray-3;
                                }
                            }

                            .like-answer {
                                display: flex;
                                flex-direction: row;
                                gap: 16px;

                                .like {
                                    display: flex;
                                    flex-direction: row;
                                    align-items: center;
                                    gap: 6px;
                                    margin: 0;
                                    padding: 0;

                                    .mobile-h3 {
                                        /* Fonts Mobile/H3 */
                                        font-size: 18px;
                                        font-style: normal;
                                        font-weight: 400;
                                        line-height: 24px;
                                        /* 133.333% */
                                        color: $gray-5;
                                    }
                                }

                                .answer {
                                    display: flex;
                                    flex-direction: row;
                                    align-items: center;
                                    gap: 6px;
                                    margin: 0;
                                    padding: 0;

                                    .mobile-h3 {
                                        /* Fonts Mobile/H3 */
                                        font-size: 18px;
                                        font-style: normal;
                                        font-weight: 400;
                                        line-height: 24px;
                                        /* 133.333% */
                                        color: $gray-5;
                                    }
                                }
                            }

                        }
                    }
                }
            }

        }
    }

}

@mixin card-social-dark {
    .card-social {
        background-color: $dark-1;

        .container {

            .header-area {

                .photo-profile {

                    img {}
                }

                .details-profile {

                    .name-time {

                        .mobile-h3 {

                            color: $white;

                        }
                    }

                    .desktop-h4 {

                        color: $white;
                    }

                    .stars {}
                }
            }

            .photo-area {

                img {}

            }

            .social-area {


                .action-area {

                    .top {

                        .like {


                            .mini-text {

                                color: $white;
                            }
                        }

                        .comment {


                            .mini-text {

                                color: $white;
                            }
                        }

                        .share {

                            .mini-text {
                                color: $white;
                            }
                        }
                    }

                    .comment-area {

                        //background-color: orange;
                        .comment-card {
                            background-color: $dark-3;


                            .name-time {


                                .mobile-h3 {
                                    color: $white;
                                }

                                .mini-text2 {

                                    color: $white;
                                }
                            }

                            .content {
                                .mobile-h4 {

                                    color: $white;
                                }
                            }

                            .like-answer {


                                .like {

                                    .mobile-h3 {

                                        color: $white;
                                    }
                                }

                                .answer {

                                    .mobile-h3 {

                                        color: $white;
                                    }
                                }
                            }

                        }
                    }
                }
            }

        }
    }

}


@mixin section-homephoto2 {
    .section-homephoto2 {
        font-family: archivo;
        background-color: $white;
        padding-top: 64px;
        padding-bottom: 64px;

        .container {
            max-width: 1500px;
            margin: 0 auto;

            .text-area {
                display: flex;
                flex-direction: column;

                .titile {
                    .desktop-h2 {

                        font-size: 32px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 40px;
                        text-align: center;
                        color: $gray-3;
                    }

                }

                .subheading {
                    .desktop-h4 {
                        /* Fonts Web/H4 */
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px;
                        text-align: center;
                        color: $gray-5;
                    }
                }
            }

            .filter {
                display: grid;

                @media (min-width: $max_mobile) {
                    grid-template-rows: 1fr 1fr;
                }

                @media (min-width: $max_tablet) {
                    grid-template-rows: 1fr 1fr;
                }
                @media (min-width: $max_desktop) {
                    grid-template-columns: 2fr 1fr;
                }

                .btn-filter-area {
                    display: flex;
                    flex-direction: row;
                    gap: 6px;
                    @media (min-width: $max_tablet) {
                        width: 1fr; 
                    }
                    @media (min-width: $max_desktop) {
                        max-width: 445px; 
                    }
                    justify-content: center;
                    align-items: center;

                    .desktop-h4 {
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px;
                        color: $primary-pink;
                    }

                    .btn-all {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        gap: 6px;
                        padding: 8px;
                        border-radius: 8px;
                        border: 1px solid $gray-5;
                        cursor: pointer;

                        .desktop-btn {
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 24px;
                            color: $gray-5;
                            margin: 0;
                            padding: 0;
                        }
                    }

                    .btn-photo {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        gap: 6px;
                        padding: 8px;
                        border-radius: 8px;
                        border: 1px solid $gray-5;
                        cursor: pointer;

                        .desktop-btn {
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 24px;
                            color: $gray-5;
                            margin: 0;
                            padding: 0;
                        }
                    }

                    .btn-videos {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        gap: 6px;
                        padding: 8px;
                        border-radius: 8px;
                        border: 1px solid $gray-5;
                        cursor: pointer;

                        .desktop-btn {
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 24px;
                            color: $gray-5;
                            margin: 0;
                            padding: 0;
                        }
                    }

                }

                .btn-order-area {
                    display: flex;
                    flex-direction: row;
                    gap: 6px;
                    justify-content: center;
                    align-items: center;

                    .desktop-h4 {
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px;
                        color: $primary-pink;
                    }

                    .btn-data {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                        width: 100%;
                        gap: 6px;
                        padding: 8px;
                        border-radius: 8px;
                        border: 1px solid $gray-5;
                        cursor: pointer;
                        .desktop-h4 {
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 24px;
                            color: $gray-5;
                            margin: 0;
                            padding: 0;
                        }
                    }

                    .btn-like {
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        align-items: center;
                        width: 100%;
                        gap: 6px;
                        padding: 8px;
                        border-radius: 8px;
                        border: 1px solid $gray-5;
                        cursor: pointer;
                        .desktop-h4 {
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 24px;
                            color: $gray-5;
                            margin: 0;
                            padding: 0;
                        }
                    }
                }
            }


            .cards-area {
                display: grid;

                @media (min-width: $max_tablet) {

                    grid-template-columns: repeat(1, 1fr);
                    
                }

                @media (min-width: $max_desktop) {

                    grid-template-columns: repeat(2, 1fr);
                }

                @include card-social();
            }
        }
    }

}

@mixin section-homephoto2-dark {
    .section-homephoto2 {
        font-family: archivo;
        background-color: $dark-2;
        padding-top: 64px;
        padding-bottom: 64px;

        .container {
            max-width: 1500px;
            margin: 0 auto;

            .text-area {
                display: flex;
                flex-direction: column;

                .titile {
                    .desktop-h2 {

                        font-size: 32px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 40px;
                        text-align: center;
                        color: $white;
                    }

                }

                .subheading {
                    .desktop-h4 {
                        /* Fonts Web/H4 */
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px;
                        text-align: center;
                        color: $white;
                    }
                }
            }

            .filter {

                .btn-filter-area {


                    .desktop-h4 {

                    }

                    .btn-all {

                        border: 1px solid $white;


                        .desktop-btn {

                            color: $white;

                        }
                    }

                    .btn-photo {

                        border: 1px solid $white;


                        .desktop-btn {

                            color: $white;

                        }
                    }

                    .btn-videos {

                        border: 1px solid $white;


                        .desktop-btn {

                            color: $white;

                        }
                    }

                }

                .btn-order-area {


                    .desktop-h4 {

                        color: $primary-pink;
                    }

                    .btn-data {

                        border: 1px solid $white;

                        .desktop-h4 {

                            color: $white;

                        }
                    }

                    .btn-like {

                        border: 1px solid $white;

                        .desktop-h4 {

                            color: $white;

                        }
                    }
                }
            }

            .cards-area {
                display: grid;
                gap: 10px;

                @media (min-width: $max_tablet) {

                    grid-template-columns: repeat(1, 1fr);
                }

                @media (min-width: $max_desktop) {

                    grid-template-columns: repeat(2, 1fr);
                }

                @include card-social-dark();
            }
        }
    }

}