@import "../colors";

@import "../sizes";

@mixin section-about2 {
    .section-about2 {
        background-color: $section;
        font-family: archivo;
        padding-top: 64px;
        padding-bottom: 64px;


        .profile-area {
            max-width: 1500px;
            margin: 0 auto;
            display: grid;

            @media (min-width: $max_tablet) {
                grid-template-columns: repeat(1, auto);
            }

            @media (min-width: $max_desktop) {
                //grid-template-columns: repeat(2, auto);
                grid-template-columns: 1fr 2fr;
                
            }

            gap: 16px;

            .photo-area {
                //background-color: rgb(222, 113, 113);

                @media (min-width: $max_tablet) {

                    max-width: 100%;
                }

                @media (min-width: $max_desktop) {

                    max-width: 600px;
                }

                width: 100%;
                height: auto;

                .photo {
                    width: 100%;
                    //max-width: 400px;
                    height: 600px;
                    background-color: red;
                }

                .desktop-h2 {
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 40px;
                    color: $gray-3;
                }

                .text-detail {
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 500;
                    line-height: 24px;
                    color: $gray-3;

                    span {
                        color: $primary-pink;
                    }
                }
            }

            .profile-text-area {

                display: flex;
                flex-direction: column;
                justify-content: space-around;
                border-left: 1px solid rgb(178, 178, 178);
                //max-width: 200px;
                width: 100%;
                min-width: 80px;
                padding-left: 16px;
                gap: 16px;

                .about-me {

                    .desktop-h2 {
                        font-size: 32px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 40px;
                        color: $gray-3;
                        margin: 0;
                        padding: 0;
                    }

                    .grid-attributes {
                        display: grid;
                        gap: 16px;
                        @media (min-width: $max_mobile) {
                            grid-template-columns: repeat(2, auto);
                        }

                        @media (min-width: $max_tablet) {

                            grid-template-columns: repeat(3, auto);
                        }

                        .item {
                            display: flex;
                            //width: 200px;
                            flex-direction: column;
                            align-items: flex-start;
                            gap: 8px;


                            .desktop-h3 {
                                /* Fonts Web/H3 */

                                font-size: 24px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 32px;
                                /* 133.333% */
                                color: $gray-5;
                                margin: 0;
                                padding: 0;
                            }

                            .desktop-h4 {
                                /* Fonts Web/H4 */

                                font-size: 20px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 24px;
                                color: $gray-3;
                                margin: 0;
                                padding: 0;

                            }

                        }
                    }
                }

                .about-service {
                    display: flex;
                    flex-direction: column;
                    gap: 24px;

                    .desktop-h2 {
                        font-size: 32px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 40px;
                        color: $gray-3;
                        margin: 0;
                        padding: 0;
                    }

                    .detail {
                        width: auto;
                        display: flex;
                        flex-direction: column;
                        gap: 8px;

                        .desktop-h3 {
                            /* Fonts Web/H3 */

                            font-size: 24px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 32px;
                            /* 133.333% */
                            color: $gray-5;
                            margin: 0;
                            padding: 0;

                        }

                        .desktop-h4 {
                            /* Fonts Web/H4 */

                            font-size: 20px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 24px;
                            color: $gray-3;
                            margin: 0;
                            padding: 0;

                        }
                    }

                    .grid-time {
                        display: grid;

                        @media (min-width: $max_mobile) {
                            grid-template-columns: repeat(2, auto);
                        }

                        @media (min-width: $max_tablet) {

                            grid-template-columns: repeat(4, auto);
                        }

                        .time {
                            display: flex;
                            flex-direction: column;
                            gap: 4px;
                            .desktop-h3 {
                                /* Fonts Web/H3 */

                                font-size: 24px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 32px;
                                /* 133.333% */
                                color: $gray-5;
                                margin: 0;
                                padding: 0;
                            }

                            .desktop-h4 {
                                /* Fonts Web/H4 */

                                font-size: 20px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 24px;
                                color: $gray-3;
                                margin: 0;
                                padding: 0;
                            }

                            .mobile-text {
                                /* Fonts Mobile/Text */
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 24px;
                                /* 150% */
                                color: $gray-5;
                                margin: 0;
                                padding: 0;
                            }
                        }
                    }
                }
            }
        }

    }

}

@mixin section-about2-dark {
    .section-about2 {
        background-color: $dark-3;

        .profile-area {

            .photo-area {

                .photo {

                }

                .desktop-h2 {

                    color: $white;
                }

                .text-detail {

                    color: $section;

                    span {
                        color: $primary-pink;
                    }
                }
            }

            .profile-text-area {

                .about-me {

                    .desktop-h2 {
                        color: $white;
                    }

                    .grid-attributes {

                        .item {

                            .desktop-h3 {
                                color: $section;

                            }

                            .desktop-h4 {
                                color: $section;

                            }

                        }
                    }
                }

                .about-service {

                    .desktop-h2 {
                        color: $white;
                    }

                    .detail {

                        .desktop-h3 {

                            color: $section;

                        }

                        .desktop-h4 {

                            color: $section;

                        }
                    }

                    .grid-time {

                        .time {
                            .desktop-h3 {

                                color: $white;
                            }

                            .desktop-h4 {

                                color: $section;
                            }

                            .mobile-text {

                                color: $section;
                            }
                        }
                    }
                }
            }
        }

    }

}

