

@mixin section-questions{
    .section-questions{
        background-color: $section;
        font-family: archivo;
        margin-top: 80px;
        padding-top: 64px;
        padding-bottom: 64px;
    
        .container-questions{
            max-width: 1500px;
            margin: 0 auto;
            display: grid;
            @media (min-width: $max_tablet) {
                grid-template-columns: repeat(1, auto);
    
            }
    
            @media (min-width: $max_desktop) {
    
                grid-template-columns: repeat(2, 50%);
    
            }
    
    
            .text-area{
                display: flex;
                flex-grow: 1;
                
                flex-direction: column;
                justify-content: space-between;
                text-align: left;
                width: auto;
                //background-color: #d09797;
    
                .desktop-btn {
                    /* Fonts Web/Button */
                    color: $primary-pink;
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 24px;
                    /* 133.333% */
                }
    
                .desktop-h2 {
    
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 40px;
                    color: $gray-3;
                }
    
                .desktop-h4 {
                    /* Fonts Web/H4 */
    
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                    color: $gray-5;
                }
    
                .icon-text-area {
                    display: flex;
                    flex-direction: column;
    
                    .item {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 20px;
    
                        i {
                            margin: 0;
                            padding: 0;
                            width: 40px;
                            height: 40px;
                        }
    
                        .list-text {
                            margin: 0;
                            padding: 0;
    
                            .desktop-h4 {
                                /* Fonts Web/H4 */
                                font-size: 20px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 24px;
                                color: $gray-3;
                            }
    
                            .text-detail {
                                font-size: 16px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 24px;
                                color: $gray-5;
                            }
                        }
                    }
                }
    
            }
    
    
            .list-dropdown-area{
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 100%;
                padding-top: 16px;
                padding-bottom: 16px;
                gap: 16px;
                @media (min-width: $max_mobile) {
                    padding-inline: 8px;
                }
                @media (min-width: $max_desktop) {
                    padding-inline: 1px;
                }
    
                .card-dropdown {
                    background-color: $white;
                    //height: auto;
                    width: 100%;
                    border-radius: 10px;
    
                    .container {
                        display: block;
                        padding-inline: 24px;
    
                        .area-top {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            padding-top: 24px;
                            padding-bottom: 24px;
    
    
                            .title {
                                display: flex;
                                flex-direction: row;
                                margin: 0;
                                padding: 0;
                                gap: 16px;
                                align-items: center;
    
                                .number {
                                    color: $primary-pink;
                                    font-size: 24px;
                                    font-style: normal;
                                    font-weight: 600;
                                    line-height: 32px;
                                    margin: 0;
                                    padding: 0;
                                }
    
                                .text-title {
                                    font-size: 20px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 24px;
                                    margin: 0;
                                    padding: 0;
                                    color: $gray-4;
                                }
                                
                            }
    
                            .btn {
                                cursor: pointer;
                                padding: 5px;
    
                                i {
                                    margin: 0;
                                    padding: 0;
                                }
                            }
                        }
    
                        @for $i from 1 through 5{
                            .area-text#{$i} {
        
                                width: 100%;
                                border-top: 1px solid $gray-6;
        
                                p {
                                    @include mobile-h4;
                                    color: $gray-4;
                                    padding-top: 24px;
                                    padding-bottom: 24px;
                                }
                            }

                        }
    
                    }
    
                }
            }
        }
    } 

}

// dark mode ===========================
@mixin section-questions-dark{
    .section-questions{
        background-color: $dark-3;

        .container-questions{   
    
            .text-area{
    
                .desktop-btn {

                }
    
                .desktop-h2 {
                    color: $white;
                }
    
                .desktop-h4 {

                    color: $section;
                }
    
                .icon-text-area {
    
                    .item {
    
                        i {

                        }
    
                        .list-text {
    
                            .desktop-h4 {
                                color: $white;
                            }
    
                            .text-detail {

                                color: $section;
                            }
                        }
                    }
                }
    
            }
    
    
            .list-dropdown-area{
    
                .card-dropdown {
                    background-color: $dark-1;
    
                    .container {
    
                        .area-top {

                            .title {
    
                                .number {

                                }
    
                                .text-title {

                                    color: $white;
                                }
                            }
    
                            .btn {
    
                                i {
                                    
                                }
                            }
                        }
                        @for $i from 1 through 5{
                            .area-text#{$i} {

        
                                p {

                                    color: $white;

                                }
                            }

                        }
    
                    }
    
                }
            }
        }
    } 

}

//@include section-questions-dark();
//@include section-questions();