@import "../_partials/colors";
@import "../_partials/fonts";



@mixin modalstate-container{ 
    .modalstate-container {
        font-family: archivo;
        display: flex;
        flex-direction: column;
        justify-content: start;
        flex-wrap: wrap;
        max-width: 1050px;
        min-width: 360px;
        height: auto;
        //min-height: 450px;
        background-color: $white;
        border-radius: 8px;
        //padding: 16px;
        gap: 10px;
    
        .area-top {
            .area-title {
                border-bottom: 1px solid $gray-6;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding-inline: 16px;
                margin-top: 10px;
                margin-bottom: 16px;
                gap: 5px;
    
                .select-title {
                    .mobile-h3 {
                        /* Fonts Mobile/H3 */
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px;
                        /* 133.333% */
                        color: $gray-3;
                    }
    
                    span {
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 24px;
                        color: $primary-pink;
                    }
                }
    
                .close-mstate {
                    display: flex;
                    align-items: center;
                }
            }
    
    
        }
    
        .area-bottom {
            display: grid;
            color: $gray-3;
            @media (min-width: 0px){
                grid-template-columns: repeat(2, auto);

            }
            @media (min-width: 768px){
                grid-template-columns: repeat(4, auto);
            }
            padding-inline: 16px;
            padding-bottom: 40px;
            gap: 10px;
            
            div{
                //background-color: red;
                margin-bottom: 10px;
                margin-right: 10px;
                span{
                    color: $primary-pink;
                }
            }
    
        }
    }
}

@include modalstate-container;