@import "../_partials/colors";
@import "../_partials/fonts";
@import "../_partials/sizes";


@mixin section-commentary{
    
    .section-commentary {
        background-color: $section;
        font-family: archivo;
    
        @media (min-width: $max_mobile) {
            padding-inline: 6px;
        }
    
        @media (min-width: $max_tablet) {
            padding-inline: 112px;
        }
    
        display: flex;
        flex-direction: column;
        align-content: center;
    
        .container {
            .title-area {
                .title {
                    .desktop-h2 {
                        font-size: 32px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 40px;
                        color: $gray-3;
                        margin: 0;
                        padding: 0;
                    }
    
                }
    
                .subtitle {
                    .desktop-h4 {
                        /* Fonts Web/H4 */
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px;
                        color: $gray-5;
                        margin: 0;
                        padding: 0;
                    }
                }
            }
    
            .comment-area {
    /*             display: flex;
                flex-direction: row; */
                display: grid;
                @media (min-width: $max_mobile) {
                    grid-template-columns: repeat(1, 1fr);
                }
                @media (min-width: $max_desktop) {
                    grid-template-columns: repeat(3, 1fr);
                }
                gap: 16px;
                padding-top: 26px;
    
                .card-comment { 
                    background-color: $white;
                    //max-width: 50%;
                    width: 90%;
                    padding: 16px;
    
                    .area-profile {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 16px;
    
                        .profile-photo {
                            background-color: $gray-2;
                            border-radius: 50%;
                            width: 56px;
                            height: 56px;
                        }
    
                        .text-area {
                            .text-name {
                                font-size: 20px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 24px;
                                color: $gray-3;
                            }
    
                            .mobile-h3 {
                                /* Fonts Mobile/H3 */
                                font-size: 18px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 24px;
                                color: $gray-5;
                                /* 133.333% */
                            }
    
                        }
    
                    }
    
                    .comment-box {
                        .desktop-h4 {
                            /* Fonts Web/H4 */
    
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 24px;
                            color: $gray-4;
                        }
    
                        .author {
                            .text-posted {
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 16px;
                                color: $gray-5;
                            }
                            .mobile-h3 {
                                /* Fonts Mobile/H3 */
                                font-size: 18px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 24px;
                                /* 133.333% */
                                color: $gray-4;
                            }
                        }
                    }
                }
            }
        }
    }
}

@mixin section-commentary-dark{
    
    .section-commentary {
        background-color: $dark-3;
        font-family: archivo;
    
        @media (min-width: $max_mobile) {
            padding-inline: 6px;
        }
    
        @media (min-width: $max_tablet) {
            padding-inline: 112px;
        }
    
        display: flex;
        flex-direction: column;
        align-content: center;
    
        .container {
            .title-area {
                .title {
                    .desktop-h2 {
                        font-size: 32px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 40px;
                        color: $white;
                        margin: 0;
                        padding: 0;
                    }
    
                }
    
                .subtitle {
                    .desktop-h4 {
                        /* Fonts Web/H4 */
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px;
                        color: $section;
                        margin: 0;
                        padding: 0;
                    }
                }
            }
    
            .comment-area {
    /*             display: flex;
                flex-direction: row; */
                display: grid;
                @media (min-width: $max_mobile) {
                    grid-template-columns: repeat(1, 1fr);
                }
                @media (min-width: $max_desktop) {
                    grid-template-columns: repeat(3, 1fr);
                }
                gap: 16px;
                padding-top: 26px;
    
                .card-comment { 
                    background-color: $white;
                    //max-width: 50%;
                    width: 90%;
                    padding: 16px;
    
                    .area-profile {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        gap: 16px;
    
                        .profile-photo {
                            background-color: $gray-2;
                            border-radius: 50%;
                            width: 56px;
                            height: 56px;
                        }
    
                        .text-area {
                            .text-name {
                                font-size: 20px;
                                font-style: normal;
                                font-weight: 500;
                                line-height: 24px;
                                color: $gray-3;
                            }
    
                            .mobile-h3 {
                                /* Fonts Mobile/H3 */
                                font-size: 18px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 24px;
                                color: $gray-5;
                                /* 133.333% */
                            }
    
                        }
    
                    }
    
                    .comment-box {
                        .desktop-h4 {
                            /* Fonts Web/H4 */
    
                            font-size: 20px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 24px;
                            color: $gray-4;
                        }
    
                        .author {
                            .text-posted {
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 16px;
                                color: $gray-5;
                            }
                            .mobile-h3 {
                                /* Fonts Mobile/H3 */
                                font-size: 18px;
                                font-style: normal;
                                font-weight: 400;
                                line-height: 24px;
                                /* 133.333% */
                                color: $gray-4;
                            }
                        }
                    }
                }
            }
        }
    }
}

@include section-commentary();