
// VARIABLES
@import "_variables/colors";
@import "_variables/sizes";


// MIXINS
@import "_mixins/fillsvg";


// PARTIALS
@import "_partials/reboot";
@import "_partials/fonts";
@import "_partials/displays";
@import "_partials/sizes";
@import "_partials/positions";
@import "_partials/buttons";
@import "_partials/modal";
@import "_partials/forms";
@import "_partials/text";
@import "_partials/cols";


// PARTIALS CAIO
@import "_partials/cols-caio";
@import "_partials/cards";


// COMPONENTS
@import "_components/svg";
@import "_components/container";
@import "_components/header";
@import "_components/content";
@import "_components/footer";
@import "_components/lista_destaque";
@import "_components/lista_profissional";
@import "_components/lista_profissional";
@import "_components/_top_page";


// COMPONENTES CAIO
@import "_components/newsletter.scss";
@import "_components/questions";
@import "_components/share-friends";
@import "_components/join-text";
@import "_components/tags";
@import "_components/carousel";
@import "_components/filter";
@import "_components/recent";
@import "_components/homevideo";
@import "_components/homephoto";

body {

    // FONTE PADRÃO PARA TODA PÁGINA
    font-family: 'Archivo', sans-serif;
    font-weight: 200;
    font-style: normal;
    line-height: normal;

    padding: 0;
    margin: 0;
    
}


