@import "../_partials/colors";
@import "../_partials/fonts";
@import "../_partials/sizes";


@mixin section-fixedbar{
    .section-fixedbar{
        font-family: archivo;
        background-color: $white;
    
        .container{
            display: flex;
            @media (min-width: $max_mobile) {
                flex-wrap: wrap;
            }
            @media (min-width: $max_tablet) {
                flex-wrap: nowrap;
            }
            flex-direction: row;
            justify-content: space-around;
            position: sticky;
            padding: 8px;
            box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.10);
            
    
            .item{
                display: flex;
                @media (min-width: $max_mobile) {
                    flex-direction: column;
                } 
                @media (min-width: $max_tablet) {
                    flex-direction: row;
                    
                }
                
                align-items: center;
                justify-content: center;
                flex: 1 0 10px;
                padding: 8px;
                gap: 8px;
                margin: 0;
                cursor: pointer;
    
    
                .icon{
    
                }
                .desktop-btn {
                    /* Fonts Web/Button */
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 24px;
                    /* 133.333% */
                    color: $gray-3;
                }
            }
        }
    }
    
}



@mixin section-fixedbar-dark{

    .section-fixedbar{
        font-family: archivo;
        background-color: $dark-2;
    
        .container{
            display: flex;
            @media (min-width: $max_mobile) {
                flex-wrap: wrap;
            }
            @media (min-width: $max_tablet) {
                flex-wrap: nowrap;
            }
            flex-direction: row;
            justify-content: space-around;
            position: sticky;
            padding: 8px;
            box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.10);
            
    
            .item{
                display: flex;
                @media (min-width: $max_mobile) {
                    flex-direction: column;
                } 
                @media (min-width: $max_tablet) {
                    flex-direction: row;
                    
                }
                
                align-items: center;
                justify-content: center;
                flex: 1 0 10px;
                padding: 8px;
                gap: 8px;
                margin: 0;
                cursor: pointer;
    
    
                .icon{
    
                }
                .desktop-btn {
                    /* Fonts Web/Button */
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 24px;
                    /* 133.333% */
                    color: $white;
                }
            }
        }
    }
}

@include section-fixedbar();
//@include section-fixedbar-dark();