

.section-modalcarousel {

    margin-top: 80px;

    .container {


        .title {

            .desktop-h2 {

                font-size: 32px;
                font-style: normal;
                font-weight: 600;
                line-height: 40px;
                color: $gray-3; 
            }
        }

        .icon-area {
            display: flex;
            flex-direction: row;
            @media (min-width: $min_mobile) {
                justify-content: start;
            }
            @media (min-width: $min_tablet) {
                justify-content: space-around;
            }
            gap: 16px;
            overflow-y: scroll;
            //width: 100%;
            height: 200px;

            .icon-card {
                height: 100px;
                width: 100px;

                .image {
                    border-radius: 100px;
                    border: 4px solid $primary-pink;
                    width: 100%;
                    height: 100%;
                    background-color: rgb(181, 53, 53);
                    cursor: pointer;

                    img {
                        height: 100%;
                        width: 100%;
                        border-radius: 50px;
                        object-fit: cover;
                    }
                }

                .name {

                }
            }
        }
    }
    // ---------------------------- modal part
    .modal-carousel {
        display: none;
        position: fixed;
        z-index: 2;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        overflow: auto;
        background-color: rgba(0, 0, 0, 0.9);

        .back{
            filter: blur(8px);
            cursor: pointer;
            transform: scale(0.8); 
            @media (min-width: $min_mobile) {
                display: none;
            }
            @media (min-width: $min_tablet) {
                display: none;
            }
            @media (min-width: $max_desktop) {
                display: block;
            }
        }
        .next{
            filter: blur(8px);
            cursor: pointer;
            transform: scale(0.8);
            @media (min-width: $min_mobile) {
                display: none;
            }
            @media (min-width: $min_tablet) {
                display: none;
            }
            @media (min-width: $max_desktop) {
                display: block;
            }
        }

        .container {
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            gap: 16px;
            padding-top: 112px;
            
            .modalcard {
                
                .container-card {
                    //background-color: red;
                    max-width: 350px;
                    //max-height: 650px;
                    height: 650px;
                    //height: 650px;
                    //width: 350px;
                    position: relative;

                    .picture {
                        height: 100%;
                        width: 100%;

                        img {
                            border-radius: 8px;
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                        }
                    }

                    .top {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        position: absolute;
                        top: 0;
                        width: 100%;
                        border-bottom: 1px solid $white;
                        //padding: 6px;

                        .area-profile {
                            display: flex;
                            flex-direction: row;
                            gap: 8px;
                            align-items: center;

                            .image-profile {
                                height: 70px;
                                width: 70px;
                                background-color: rgb(34, 34, 34);
                                border-radius: 8px;
                                margin-bottom: 6px;
                                margin-top: 6px;
                                margin-left: 6px;
                            }
                        }

                        .name {
                            .mini-text {
                                font-size: 14px;
                                font-style: normal;
                                font-weight: 600;
                                line-height: 16px;
                                color: $white;
                            }
                        }

                    }

                    .bottom {
                        position: absolute;
                        bottom: 0;
                        width: 100%;

                        //padding: 6px;
                        .box {
                            display: flex;
                            flex-direction: row;
                            justify-content: space-between;
                            padding: 6px;

                            .comment {
                                display: flex;
                                align-items: center;

                                .inputx {
                                    padding: 6px;
                                    border-radius: 10px;
                                    &:focus {
                                        outline: none;
                                    }
                                }
                            }

                            .share {
                                border-radius: 6px;
                                border: 1px solid $white;
                                padding: 12px;
                                cursor: pointer;
                            }
                        }
                    }
                }
            }
        }
        .items-absolute{
            .close{
                position: absolute;
                top: 15px;
                right: 35px;
                color: #f1f1f1;
                font-size: 40px;
                font-weight: bold;
                cursor: pointer;
            }
            .backBtn{
                position: absolute;
                top: 435px;
                left: 35px;
                color: #f1f1f1;
                font-size: 40px;
                font-weight: bold;
                cursor: pointer;
            }
            .nextBtn{
                position: absolute;
                top: 435px;
                right: 35px;
                color: #f1f1f1;
                font-size: 40px;
                font-weight: bold;
                cursor: pointer;
            }
        }
    }
}

.dark{
    .section-modalcarousel {
        
        .container {
    
            .title {
    
                .desktop-h2 {
                    color: $white;
                }
            }
    
            .icon-area {
    
                .icon-card {
    
                    .image {
    
                        img {

                        }
                    }
    
                    .name {
                        .mobile-text {

                            color: $section;
                        }
                    }
                }
            }
        }
        // ---------------------------- modal part
        .modal-carousel {
    
            .back{

            }
            .next{

            }
    
            .container {

                
                .modalcard {
                    
                    .container-card {
    
                        .picture {

    
                            img {

                            }
                        }
    
                        .top {

    
                            .area-profile {

    
                                .image-profile {

                                }
                            }
    
                            .name {
                                .mini-text {

                                }
                            }
    
                        }
    
                        .bottom {

                            .box {

    
                                .comment {
    
                                    .inputx {

                                    }
                                }
    
                                .share {

                                }
                            }
                        }
                    }
                }
            }
            .items-absolute{
                .close{

                }
                .backBtn{

                }
                .nextBtn{

                }
            }
        }
    }
}