
.section-commentary {
    background-color: $section;
    padding: 20px;
    .container-comment {
        .comment-area {           
            .card-comment { 
                background-color: $white;
                padding: 16px;
                flex: 1 0 336px;
                .area-profile {
                    align-items: center;                
                    .profile-photo {
                        background-color: $gray-2;
                        border-radius: 50%;
                        width: 56px;
                        height: 56px;
                        overflow: hidden;
                        > img{ 
                            height: 100%;
                            width: 100%;
                            border-radius: 100%;
                            object-fit: cover;
                        }
                    }                
                }                
            }
        }
    }    
}

.dark{        
    .section-commentary {
        background-color: $gray-3;
        .title-area {
            .title {
                .desktop-h2 {
                    color: $white;
                    
                }
            }
            .subtitle {
                .desktop-h4 {
                    color: $section;                
                }
            }
        }
        .container-comment {            
            .comment-area {
                .card-comment { 
                    background-color: $gray-4;
                    .area-profile{
                        .text-area {
                            .text-name {
                                color: $white;
                            }
                        }
                        .gray-5{
                            color: $gray-6;
                        }
                    }
                    .comment-box{    
                        .author {
                            .text-posted {
                                color: $gray-6;
                            }
                        }                       
                        .gray-4{
                            color: $white;
                        }
                    }                                    
                }               
            }            
        }
    }    
}