.container{
    max-width: 1500px;
    min-width: 375px;
    margin: 0 auto;        
    margin-inline: 8px;
}

.nav {
    a {
        text-decoration: underline;
        text-underline-offset: 3px;
        text-decoration-thickness: 0.1px;    
        &:hover{
            color:$primary-pink;
        }            
    }
}
.main-container {
    margin-top: 88px;
}

.dark {
    background-color: $dark-secondary;
    a {
        color: $white;
    }
}