.social-bar {    
    gap: 10px;
    padding: 30px;
}

.dark{
    .social-bar {
        .primary-pink {
            color: $white;
        }
    }
}

.top-btn{
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: $primary-pink;
    color:  $primary-pink;    
    border: none;
    border-radius: 100%;
    padding: 25px;
    width: 75px;
    height: 75px;
    cursor: pointer;
    z-index: 2;
    box-shadow: 0px 10px 6px -3px rgba(0, 0, 0, 0.1);
    @include fill_svg($white);
}




.card-list-default {    
    @media (max-width: $max_tablet) {
        .p-15{
            padding: 10px;
        }        
    }   
}

.card-destaque{
    .card-image{
        width: 100%;
        img{
        border-radius: 7.22px;
        }
        &::before {
            padding-top: calc(471 / 980 * 100%);
            width: 100%;
            display: block;
            content: ' ';
        }
    }
}

.card-profile{
    width: 100%;
    border-radius: 6px;
    box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.10);
    overflow: hidden;
    padding: 0;

    .card-image{
        .stars{
            border-radius: 0px 0px 4px 4px;
            background: rgba(255, 255, 255, 0.20);
            backdrop-filter: blur(5px);
            color: gold;
            font-size: 16px;                                    
            width: 110px;
            text-align: center;
            letter-spacing: .2rem;
            z-index: 1;
        }
        .selo {
            display: flex;
            z-index: 1;
            position: absolute;
            bottom: 8px;
            width: 40%;     
            max-width: 92px;
            >i {                
                width: 100%;
                height: auto;
            }       
            &.hot{
                left: 8px;                
            }
            &.cam{
                right: 8px;
            }
            > div{
                margin-left:  -15px;
                z-index: 0;
                font-size: 14px;
                > span{
                    width: 72px;                        
                    padding-left: 18px;
                    padding-right: 5px;
                    line-height: 20px;
                    
                }
                > strong{
                    width: 64px;
                    padding-left: 18px;
                    padding-right: 5px;
                    line-height: 20px;
                                         
                }
            }
        }
        &::before {
            padding-top: calc(387 / 280 * 100%);
            width: 100%;
            display: block;
            content: ' ';
        }
    }

    .card-description{
        gap:5px;
        align-items: flex-start;
        padding: 8px;
        @media (max-width: $max_tablet) {
            .fs-18{
                font-size: 14px;
            }
            .fs-24{
                font-size: 20px;
            }
        }
    
    }
}

.dark {
    .top-btn{
        @include fill_svg($primary-pink);
        background-color: $white;
        color:  $white;
    }

    .card-profile{
        background-color: $dark-primary;
        .card-description{
            .gray-3 {
                color: $white;
            }
            .gray-5{
                color: $gray-6;
            }
        }
    }
}
