

.filter-container {

    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: $gray-4;
    padding: 5px;

    .btn-filter {
        display: block;
        border: 1px solid $primary-pink;
        border-radius: 6px;
        margin-bottom: 10px;
        cursor: pointer;

        .text-icon {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            gap: 8px;

            .desktop-btn {
                font-size: 18px;
                font-style: normal;
                font-weight: 600;
                line-height: 24px;
                color: $primary-pink;
            }
        }
    }

    .filter-bar {
        
        display: none;
        
        &.opened {
            display: block;
        }

        .title {
            display: flex;
            flex-direction: row;
            justify-content: start;
            height: 50px;
            width: 100%;
            padding: 0;
            border-top-right-radius: 8px;
            border-top-left-radius: 8px;            
        }

        .item-area {    
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: start;
            gap: 20px;
            width: 100%;

            .item {
                display: flex;
                flex-direction: row;
                justify-content: start;
                text-align: center;
                gap: 15px;
                margin-top: 10px;
                margin-bottom: 10px;
                padding: 10px;
                border-radius: 0px;
                border-bottom: 1px solid $gray-5;

                &:hover {
                    background-color: $primary-pink;
                    cursor: pointer;
                    border-radius: 0px;
                    color: $white;
                    @include fill_svg($white);
                }                
            }            
        }
    }

    @media (min-width: $max_tablet) {

        display: flex;
        justify-content: center;

        .btn-filter, .btn-close-list {
            display: none;
        }
        .filter-bar {
            display: block;            
            background-color: $white;
            border-radius: 100px;
            box-shadow: 3px 5px 15px 0px rgba(39, 37, 48, 0.20);            
            width: 90%;
            padding-inline: 25px;
            .item-area {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;
                gap: 20px;
                width: 100%;
                .title{
                    display: none;
                }        
                .item {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    text-align: center;
                    gap: 15px;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    padding: 10px;
                    border-radius: 50px;
                    border-bottom: none;
                    &:hover {
                        border-radius: 50px;
                    }                    
                }               
            }
        }    
    }
}


.dark {

    .filter-container {
        color: $gray-4;    
    
        .btn-filter {
            border: 1px solid $primary-pink;
            .text-icon {
                .desktop-btn {                    
                    color: $primary-pink;
                }
            }
        }
    
        .filter-bar {
            .item-area {    
                .item {
                    border-bottom: 1px solid var(--color-gray-05, #C6C5CE);
                    &:hover { 
                        background-color: $primary-pink;
                        color: $white;
                        @include fill_svg($white);
                    }
    
                    .icon {    
                        &:hover {
                            color: $white;
                        }
                    }
                    }            
            }
        }
    
        @media (min-width: $max_tablet) {
            .filter-bar {
                background-color: $white;
                box-shadow: 3px 5px 15px 0px rgba(39, 37, 48, 0.20);            
                .item-area {
                    .item {
                        &:hover {
                            background-color: $primary-pink;
                            color: $white;
                            @include fill_svg($white);
                        }
    
                        .icon {
                            &:hover {
                                color: $white;
                            }
                        }    
                    }               
                }
            }    
        }
    }
}