

.filter-container {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: $gray-4;
    padding: 5px;
    @media (min-width: $min_tablet) {
        
        display: flex;
        justify-content: center;
    }


    @media (min-width: $min_mobile) {
        .btn-filter{
            display: block;
            border: 1px solid $primary-pink;
            border-radius: 6px;
            margin-bottom: 10px;
            cursor: pointer;
            .text-icon{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                gap: 8px;
                .desktop-btn {
                    /* Fonts Web/Button */
            
                    font-size: 18px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 24px;
                    /* 133.333% */
                    color: $primary-pink;
                }
            }
        }


        .filter-list {
            display: none;
            background-color: $white;
            height: auto;
            width: auto;
            border-radius: 8px;
            border: 1px solid $gray-6;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: start;
            gap: 35px;

            .title {
                display: flex;
                flex-direction: row;
                justify-content: start;
                //background-color: green;
                height: 50px;
                width: 100%;
                padding: 0;
                border-top-right-radius: 8px;
                border-top-left-radius: 8px;

                p {
                    margin-left: 10px;
                    padding: 0;
                }
            }

            .item-area {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                gap: 20px;
                width: 100%;

                .item {
                    display: flex;
                    flex-direction: row;
                    justify-content: start;
                    align-items: center;
                    height: 60px;
                    gap: 15px;
                    margin-top: 5px;
                    margin-inline: 20px;
                    margin-bottom: 10px;
                    padding-inline: 10px;
                    border-bottom: 1px solid $gray-6;

                    &:hover {
                        background-color: $primary-pink;
                        cursor: pointer;
                        color: $white;

                        svg {
                            path {

                                fill: $white;

                            }
                        }
                    }

                    p {
                        margin: 0;
                        padding: 0;

                        &:hover {
                            color: $white;
                        }
                    }

                    .icon {
                        margin: 0;
                        padding: 0;
                        color: $primary-pink;

                        &:hover {
                            color: $white;
                        }

                    }



                }
            }

            .area-btn {
                width: 100%;
                padding-inline: 10px;
                margin-bottom: 20px;
                display: flex;
                flex-direction: column;
                gap: 10px;

                .btn-pink,
                .btn-border-gray {
                    margin-inline: 15px
                }

                
                .btn-border-gray {

                    height: 50px;
                    min-width: 120px;
                    color: $gray-4;
                    border-radius: 6px;
                    border: 1.5px solid $gray-6;
                
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-content: center;
                    cursor: pointer;
                    
                    background-color: transparent;
                    p {
                        margin: 0;
                        padding: 0;
                        text-align: center;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 150%;
                    }
                }
                
                .btn-pink {

                    height: 50px;
                    min-width: 120px;
                    color: $white;
                    border-radius: 6px;
                    border: 1.5px solid $gray-6;
                
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-content: center;
                    cursor: pointer;
                
                    background-color: $primary-pink;
                    p {
                        margin: 0;
                        padding: 0;
                        text-align: center;
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 150%;
                    }
                
                }

            }
        }

        .filter-bar {
            display: none;
        }
    }

    @media (min-width: $min_tablet) {
        .filter-list {
            display: none;
        }

        .btn-filter{
            display: none;
        }

        .filter-bar {

            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-around;
            background-color: $white;
            border-radius: 100px;
            box-shadow: 3px 5px 15px 0px rgba(39, 37, 48, 0.20);
            gap: 10px;
            width: 90%;
            padding-inline: 25px;

            .item {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                text-align: center;
                gap: 15px;
                margin-top: 10px;
                margin-bottom: 10px;
                padding: 10px;
                border-radius: 50px;

                &:hover {

                    background-color: $primary-pink;
                    cursor: pointer;
                    border-radius: 50px;
                    color: $white;
                    svg {
                        path {

                            fill: $white;

                        }
                    }
                }

                .icon {
                    margin: 0;
                    padding: 0;

                    &:hover {
                        color: $white;
                    }
                }

                p {
                    margin: 0;
                    padding: 0;
                }
            }
        }

    }
}


.dark{
    .filter-container {
    
        @media (min-width: $min_mobile) {
            .btn-filter{

                .text-icon{

                    .desktop-btn {

                    }
                }
            }
            .filter-list {
                
 
    
                .title {

    
                    p {
                        
                        color: $white;
                    }
                }
    
                .item-area {

    
                    .item {

    
                        p {
                            
                            color: $white;

                        }
    
    
                    }
                }
    
                .area-btn {
                    
                    color: $white;
    
                    .btn-pink,
                    .btn-border-gray {
                        
                    }
    
                    .btn-border-gray {

                        color: $white;

                        border: 1.5px solid $white;

                    }
                    
                    .btn-pink {

                        color: $white;

                        border: 1.5px solid $white;
                    
                        background-color: $primary-pink;
                        p {

                            
                        }
                    
                    }
    
                }
            }
    
            .filter-bar {
                display: none;
            }
        }
    
        @media (min-width: $min_tablet) {
            .filter-list {
                display: none;
            }
            .btn-filter{
                display: none;
            }
    
            .filter-bar {
                display: flex;
    
            }
    
        }
    }
}