footer {
    background-color: $section;
    margin-top: 80px;
    .bar-footer-logo{
        padding: 20px 0;
    }
    @media (max-width: $max_tablet) {
        .bar-footer-logo{            
            flex-direction: column;
            justify-content: center;
            text-align: center;
            .social-bar {
                justify-content: center;
            }
        }
    }
   

    .footer-nav {
        display: grid;
        border-top: 1px solid $gray-6;
        color: $gray-5;
        
        @media (min-width: $max_mobile) {
            grid-template-columns: repeat(1, auto);
        }

        @media (min-width: $max_tablet) {
            grid-template-columns: repeat(1, auto);
        }

        @media (min-width: $max_desktop) {

            grid-template-columns: repeat(5, auto);
            //grid-template-rows: repeat(2, auto);
        }

        

        .idp-brasil {
            display: grid;

            @media (min-width: $max_mobile) {
                grid-column: 1;
            }

            @media (min-width: $max_tablet) {

                grid-column: 1/4;
            }

            > div {
                
                height: auto;
                display: grid;                

                @media (min-width: $max_mobile) {
                    grid-template-columns: repeat(2, auto);
                }

                @media (min-width: $max_tablet) {

                    grid-template-columns: repeat(4, auto);
                }

            }
        }
    }
    .copyright{
        border-bottom: 4px solid $primary-pink;
    }
}

.dark {
    footer {
        background-color: $gray-1;
        .fw-bold {
            color: $white;
        }
        .footer-nav{
            border-top: 1px solid $gray-4;
        }        
    }
}