

.tile-layout__item {
	counter-increment: tile-item;
	padding: 8px;
	background-color: red;
	border-radius: 8px;
    margin-bottom: 10px;
    //margin-inline: 8px;
}

.tile-layout__image {
	margin-right: 1.5rem;
	width: 100%;
	margin-bottom: .5rem;
	position: relative;
    margin: 0 auto;
    //max-width: 400px;
    //max-height: 400px;
    &::after {
        content: "";
        display: block;
        //padding-top: 57.1428571429%;
        padding-top: calc((800 / 600) * 100%);
    }
}

.tile-layout__image a {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

a {
	color: var(--color-orange-ff);
	text-decoration: none;
	transition: 250ms color ease;
}

.tile-layout__image img {
	width: 100%;
	height: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	border-radius: .5rem;
}

.layout__image-container img {
	contain: paint;
	transition: opacity 250ms ease-in-out;
}

img {
	max-width: 100%;
	height: auto;
}

.tile-layout .tile-layout__content, .tile-layout--3x .tile-layout__content {
	padding: 1rem 10px 0 5px;
}

// elements

.header-area {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10px;
    background-color: $white;
    border-radius: 8px;
    padding: 8px;

    .photo-profile {
      width: 150px;
      height: 80px;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
      }
    }

    .details-profile {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 6px;

      .name-time {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .mobile-h3 {
          /* Fonts Mobile/H3 */
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;
          /* 133.333% */
          color: $gray-5;
          margin: 0;
          padding: 0;
        }
      }

      .desktop-h4 {
        /* Fonts Web/H4 */

        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        margin: 0;
        padding: 0;
        color: $gray-3;
      }

      .stars {}
    }
  }



.social-area {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 8px;

    .action-area {
      //background-color: brown;
      width: 100%;

      .top {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        //background-color: green;
        justify-content: space-around;
        border-bottom: 1px solid var(--color-gray-05, #C6C5CE);

        .like {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 8px;
          flex: 0 0 100px;

          .mini-text {
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 24px;
          }
        }

        .comment {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 8px;
          flex: 0 0 100px;
          cursor: pointer;


          .mini-text {
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 24px;
          }
        }

        .share {
          display: flex;
          flex-direction: row;
          align-items: center;
          gap: 8px;
          flex: 0 0 100px;

          .mini-text {
            font-size: 16px;
            font-style: normal;
            font-weight: 600;
            line-height: 24px;
          }
        }
      }


      .comment-write-area {
        display: flex;
        flex-direction: column;
        width: 100%;
        gap: 16px;
        margin-top: 8px;

        .input-name,
        .input-comment {
          padding: 16px;
          width: 100%;
          border-radius: 6px;
          border: 1px solid var(--color-gray-05, #C6C5CE);
          // ==
          font-size: 18px;
          font-style: normal;
          font-weight: 400;
          line-height: 24px;

          &:focus {
            outline: none;
          }
        }

        .btn-area {
          display: flex;
          flex-direction: row;

          @media (min-width: $max_mobile) {
            flex-wrap: wrap;
          }

          width: 100%;
          gap: 8px;

          .btn-send {
            @media (min-width: $max_mobile) {
              width: 100%;
            }

            @media (min-width: $max_tablet) {
              width: 176px;
            }

            width: 176px;
            padding: 6px;
            gap: 10px;
            background-color: $primary-pink;
            border-radius: 6px;
            cursor: pointer;

            .desktop-btn {
              color: $white;
              font-size: 18px;
              font-style: normal;
              font-weight: 600;
              line-height: 24px;
              text-align: center;
            }
          }

          .btn-cancel {
            @media (min-width: $max_mobile) {
              width: 100%;
            }

            @media (min-width: $max_tablet) {
              width: 176px;
            }

            width: 176px;
            padding: 6px;
            gap: 10px;
            background-color: $gray-6;
            border-radius: 6px;
            cursor: pointer;

            .desktop-btn {
              color: $white;
              font-size: 18px;
              font-style: normal;
              font-weight: 600;
              line-height: 24px;
              text-align: center;
            }
          }
        }
      }

      .comment-area {

        .comment-card {
          display: flex;
          flex-direction: column;
          background-color: $section;
          margin: 8px;
          padding: 6px;
          border-radius: 8px;
          gap: 6px;

          .name-time {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .mobile-h3 {
              /* Fonts Mobile/H3 */
              font-size: 18px;
              font-style: normal;
              font-weight: 400;
              line-height: 24px;
              /* 133.333% */
              margin: 0;
              padding: 0;
              color: $gray-5;
            }

            .mini-text2 {
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 16px;
              margin: 0;
              padding: 0;
              color: $gray-5;
            }
          }

          .content {
            .mobile-h4 {
              font-size: 20px;
              font-style: normal;
              font-weight: 400;
              line-height: 24px;
              /* 120% */
              margin: 0;
              padding: 0;
              color: $gray-3;
            }
          }

          .like-answer {
            display: flex;
            flex-direction: row;
            gap: 16px;

            .like {
              display: flex;
              flex-direction: row;
              align-items: center;
              gap: 6px;
              margin: 0;
              padding: 0;

              .mobile-h3 {
                /* Fonts Mobile/H3 */
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                /* 133.333% */
                color: $gray-5;
              }
            }

            .answer {
              display: flex;
              flex-direction: row;
              align-items: center;
              gap: 6px;
              margin: 0;
              padding: 0;
              cursor: pointer;

              .mobile-h3 {
                /* Fonts Mobile/H3 */
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                /* 133.333% */
                color: $gray-5;

              }
            }
          }

        }

        .comment-card-res {
          display: flex;
          flex-direction: column;
          background-color: $section;
          margin: 8px;
          padding: 6px;
          border-radius: 8px;
          gap: 6px;

          .name-time {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .icon-name {
              display: flex;
              flex-direction: row;
              gap: 8px;

              .icon-response {
                display: flex;
                align-items: start;
                padding-inline: 8px;

              }

              .mobile-h3 {
                /* Fonts Mobile/H3 */
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                /* 133.333% */
                margin: 0;
                padding: 0;
                color: $gray-5;
              }
            }

            .mini-text2 {
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              line-height: 16px;
              margin: 0;
              padding: 0;
              color: $gray-5;
            }
          }

          .content {
            .mobile-h4 {
              font-size: 20px;
              font-style: normal;
              font-weight: 400;
              line-height: 24px;
              /* 120% */
              margin: 0;
              padding: 0;
              color: $gray-3;
            }
          }

          .like-answer {
            display: flex;
            flex-direction: row;
            gap: 16px;

            .like {
              display: flex;
              flex-direction: row;
              align-items: center;
              gap: 6px;
              margin: 0;
              padding: 0;


              .mobile-h3 {
                /* Fonts Mobile/H3 */
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                /* 133.333% */
                color: $gray-5;
              }
            }

            .answer {
              display: flex;
              flex-direction: row;
              align-items: center;
              gap: 6px;
              margin: 0;
              padding: 0;

              .mobile-h3 {
                /* Fonts Mobile/H3 */
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 24px;
                /* 133.333% */
                color: $gray-5;
              }
            }
          }


        }
      }

    }
  }