
.section-jointext{
    .text-box{
        max-width: 466px;
        //text-align: center;
        
        .btn-area{
            max-width: 226px;
            align-self: center;
        }

    }
}

.dark{
    .section-jointext{
        background-color: $gray-3;
    }
}