
.section-jointext{
    .block-container{
        max-width: 466px;
        text-align: center;
        gap: 16px;
        
        .btn-area{
            max-width: 226px;
            align-self: center;
        }

    }
}

.dark{
    .section-jointext{
        background-color: $gray-3;
    }
}