
.section-newsletter{
    gap: 32px;
    .text-area-newslatter{
        display: flex;
        flex-direction: column;
        gap: 16px;
        @media (min-width: $min_tablet) {

            margin-bottom: 26px;

        }
        @media (min-width: $max_desktop) {
            
            width: 384px;
            margin-right: 16px;
        }

        .icon-text{
            gap: 8px;
            > p{
                align-self: center;
            }
        }
    }

    .input-area{
        

        @media (min-width: $max_desktop) {
            
            width: 384px;
            margin-left: 16px;
        }
    }

}