.section-questions{
    padding-top: 64px;
    padding-bottom: 64px;

    .text-area{

        .text-box{
            max-width: 440px;
            max-height: 190px;
        }
    }
    .icon-text-area{
        max-width: 350px;
        max-height: 190px;
        gap: 16px;
        .item{
            gap: 32px;
            i{
                margin: 0;
                padding: 0;
                display: flex;
                align-items: center;
            }
        }
    }
    
    
    .list-dropdown-area{
        gap: 8px;
    
        .card-dropdown {
        
            border-radius: 6px;
            background-color: $white;
            .area-top {
                padding: 24px;
                gap: 16px;
                .title{
                    display: flex;
                    gap: 16px;
                    .text-title{
                        display: flex;
                        align-items: center;
                    }
                }
                .btn-dd{
                    &:hover{
                        cursor: pointer;
                    }
                }
        
            }

            @for $i from 1 through 5{
                .area-text#{$i}{
                    > p{
                        padding-inline: 26px;
                    }
                }
            } 
        
        }
    }

}





.dark {
    .section-questions {

        background-color: $gray-3;

        .card-dropdown{
            background-color: $dark-primary;

        }
    }

}

