.card-dropdown{

    .area-top{
        background-color: $white;
        padding: 24px;
        gap: 16px;
        border-radius: 6px;
        margin-top: 8px;
        margin-bottom: 8px;
    }
}


.dark {
    .section-questions {

        background-color: $gray-3


    }

}