.list-dropdown-area{
    gap: 8px;
    .card-dropdown {
    
        .area-top {
            background-color: $white;
            padding: 24px;
            gap: 16px;
            border-radius: 6px;
    
        }
    
    }
}




.dark {
    .section-questions {

        background-color: $gray-3
    }

}