
.section-tags{
   
    margin-top: 80px;
    margin-bottom: 32px;

    .container{
        display: flex;
        flex-direction: column;
        max-width: 1500px;
        margin: 0 auto;
        gap: 12px;
        .title{

        }
        .tags-area{

            .tag{
                flex: 0 1 auto;
                border-radius: 100px;
                padding-inline: 12px;
            }
        }
    }
}

.dark{
    .section-tags{

        

        .container{

            .title{

            }
            .tags-area{

                .tag{

                    background-color: $gray-4;

                }
            }
        }
    }
}