@import "../_partials/colors";
@import "../_partials/fonts";
@import "../_partials/sizes";


@mixin section-bestpic{
    .section-bestpic {
        background-color: $white;
        font-family: archivo;
        padding-top: 64px;
        padding-bottom: 64px;
    
        .container {
            max-width: 1500px;
            margin: 0 auto;
    
            .title {
                display: flex;
                align-items: center;
                justify-content: center;
                .desktop-h2 {
    
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 40px;
                    color: $gray-3;
                }
            }
    
            .pics-area {
                display: grid;
                @media (min-width: $max_tablet) {
                    grid-template-columns: repeat(1, 1fr);
                }
                @media (min-width: $max_desktop) {
                    grid-template-columns: repeat(2, 1fr);
                }
                column-gap: 26px;
                .best-day {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    background-color: $section;
                    //margin-inline: 16px;
                    .title {
                        .bd-title {
                            font-size: 24px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 32px;
                            color: $gray-3;
    
                            span {
                                color: $primary-pink;
                            }
                        }
                    }
    
                    .subtitle {
                        .desktop-btn {
                            /* Fonts Web/Button */
    
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 24px;
                            /* 133.333% */
                            color: $gray-3;
    
                            span {
                                color: $primary-pink;
                            }
                        }
                    }
    
                    .card-photo-area {
                        .card {
                            font-family: archivo;
                            background-color: #ffffff;
                            height: auto;
                            max-width: 300px;
                            border-radius: 10px;
                            box-shadow: 0px 10px 6px -3px rgba(0, 0, 0, 0.1);
    
                            .img-area {
                                position: relative;
                                background-color: #8a2be2;
                                width: 100%;
                                height: 300px;
                                border-top-left-radius: 10px;
                                border-top-right-radius: 10px;
    
                                img {
                                    height: 100%;
                                    width: 100%;
                                    object-fit: cover;
                                    border-top-left-radius: 10px;
                                    border-top-right-radius: 10px;
                                }
    
                            }
    
                            .text-area {
    
                                color: $gray-3;
                                padding-inline: 8px;
                                padding-bottom: 5px;
    
                                p {
                                    margin: 4px;
                                }
    
                                .text1 {
                                    font-size: 24px;
                                    font-style: normal;
                                    font-weight: 600;
                                    line-height: 24px;
    
                                    margin-top: 10px;
                                }
    
                                .text2 {
                                    font-size: 18px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 24px;
    
                                    color: $gray-5;
                                }
    
                                .text-box {
                                    font-size: 14px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 16px;
                                    color: $gray-4;
                                }
                            }
    
                        }
                    }
    
                    .last-update {
                        .mobile-text {
                            /* Fonts Mobile/Text */
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 24px;
                            /* 150% */
                            color: $gray-5;
                        }
                    }
                }
    
                .best-month {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    .title {
                        .bd-title {
                            font-size: 24px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 32px;
                            color: $gray-3;
    
                            span {
                                color: $primary-pink;
                            }
                        }
                    }
    
                    .subtitle {
                        .desktop-btn {
                            /* Fonts Web/Button */
    
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 24px;
                            /* 133.333% */
                            color: $gray-3;
    
                            span {
                                color: $primary-pink;
                            }
                        }
                    }
    
                    .grid-photo {
                        display: grid;
                        @media (min-width: $max_mobile) {
                            
                            grid-template-columns: repeat(2, 1fr);
                        }
                        @media (min-width: $max_tablet) {
                            
                            grid-template-columns: repeat(3, 1fr);
                        }
                        @media (min-width: $max_desktop) {
                            
                            grid-template-columns: repeat(5, 1fr);
                        }
                        gap: 8px;
                        .image-box{
                            max-width: 300px;
                            max-height: 300px;
                            img{
                                border-radius: 8px;
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                }
            }
        }
    }

}



@mixin section-bestpic-dark{
    .section-bestpic {
        background-color: $dark-2;
        font-family: archivo;
        padding-top: 64px;
        padding-bottom: 64px;
    
        .container {
            max-width: 1500px;
            margin: 0 auto;
    
            .title {
                display: flex;
                align-items: center;
                justify-content: center;
                .desktop-h2 {
    
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 40px;
                    color: $white;
                }
            }
    
            .pics-area {
                display: grid;
                @media (min-width: $max_tablet) {
                    grid-template-columns: repeat(1, 1fr);
                }
                @media (min-width: $max_desktop) {
                    grid-template-columns: repeat(2, 1fr);
                }
                column-gap: 26px;
                .best-day {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    background-color: $dark-1;
                    //margin-inline: 16px;
                    .title {
                        .bd-title {
                            font-size: 24px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 32px;
                            color: $white;
    
                            span {
                                color: $primary-pink;
                            }
                        }
                    }
    
                    .subtitle {
                        .desktop-btn {
                            /* Fonts Web/Button */
    
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 24px;
                            /* 133.333% */
                            color: $white;
    
                            span {
                                color: $primary-pink;
                            }
                        }
                    }
    
                    .card-photo-area {
                        .card {
                            font-family: archivo;
                            background-color: $dark-2;
                            height: auto;
                            max-width: 300px;
                            border-radius: 10px;
                            box-shadow: 0px 10px 6px -3px rgba(0, 0, 0, 0.1);
    
                            .img-area {
                                position: relative;
                                background-color: #8a2be2;
                                width: 100%;
                                height: 300px;
                                border-top-left-radius: 10px;
                                border-top-right-radius: 10px;
    
                                img {
                                    height: 100%;
                                    width: 100%;
                                    object-fit: cover;
                                    border-top-left-radius: 10px;
                                    border-top-right-radius: 10px;
                                }

    
                            }
    
                            .text-area {
    
                                color: $gray-3;
                                padding-inline: 8px;
                                padding-bottom: 5px;
    
                                p {
                                    margin: 4px;
                                    color: $white;
                                }
    
                                .text1 {
                                    font-size: 24px;
                                    font-style: normal;
                                    font-weight: 600;
                                    line-height: 24px;
    
                                    margin-top: 10px;
                                    color: $white;
                                }
    
                                .text2 {
                                    font-size: 18px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 24px;
    
                                    color: $white;
                                }
    
                                .text-box {
                                    font-size: 14px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 16px;
                                    color: $white;
                                }
                            }
    
                        }
                    }
    
                    .last-update {
                        .mobile-text {
                            /* Fonts Mobile/Text */
                            font-size: 16px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 24px;
                            /* 150% */
                            color: $white;
                        }
                    }
                }
    
                .best-month {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    align-items: center;
                    .title {
                        .bd-title {
                            font-size: 24px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 32px;
                            color: $white;
    
                            span {
                                color: $primary-pink;
                            }
                        }
                    }
    
                    .subtitle {
                        .desktop-btn {
                            /* Fonts Web/Button */
    
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 24px;
                            /* 133.333% */
                            color: $white;
    
                            span {
                                color: $primary-pink;
                            }
                        }
                    }
    
                    .grid-photo {
                        display: grid;
                        @media (min-width: $max_mobile) {
                            
                            grid-template-columns: repeat(2, 1fr);
                        }
                        @media (min-width: $max_tablet) {
                            
                            grid-template-columns: repeat(3, 1fr);
                        }
                        @media (min-width: $max_desktop) {
                            
                            grid-template-columns: repeat(5, 1fr);
                        }
                        gap: 8px;
                        .image-box{
                            max-width: 300px;
                            max-height: 300px;
                            img{
                                border-radius: 8px;
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                }
            }
        }
    }

}

@include section-bestpic-dark();