@import "../_partials/colors";
@import "../_partials/fonts";
@import "../_partials/sizes";

@mixin section-price{
    .section-price {
        background-color: $white;
        font-family: archivo;
    
        //background-color: #877dad;
        //padding: 64px;
        @media (min-width: $max_tablet) {
            padding-inline: 16px;
        }
    
        @media (min-width: $max_desktop) {
            padding-inline: 112px;
        }
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    
        .container-price {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 26px;
    
            .title {
                .desktop-h2 {
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 40px;
                    color: $gray-3;
                }
            }
    
            .card-info {
                display: flex;
                flex-direction: row;
                justify-content: start;
                align-items: center;
                gap: 10px;
                padding: 16px;
                border-radius: 6px;
                background-color: $section;
    
                .icon {}
    
                .text {
                    .a {
                        /* Fonts Web/H4 */
    
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px;
                        color: $gray-3;
                    }
    
                    .b {
                        /* Fonts Web/H4 */
    
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px;
                        color: $gray-5;
                    }
                }
            }
    
            .grid-price-info {
                display: grid;
                @media (min-width: $max_mobile){
                    grid-template-columns: repeat(1, auto);
                }
                @media (min-width: $max_tablet){
                    
                    grid-template-columns: repeat(2, auto);
                }
                @media (min-width: $max_desktop){
                    
                    grid-template-columns: repeat(3, auto);
                }
                gap: 20px;
                .card-price {
                    display: flex;
                    height: auto;
                    width: 100%;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 8px;
    
                    .t1 {
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px;
                        color: $gray-5;
                        margin: 0;
                        padding: 0;
                    }
    
                    .t2 {
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 32px;
                        color: $gray-3;
                        margin: 0;
                        padding: 0;
                    }
    
                    .text-area {
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px;
                        text-align: justify;
                        color: $gray-5;
                    }
                }
            }
    
            .payment {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 8px;
                .mobile-h2 {
                    /* Fonts Mobile/H2 */
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 32px;
                    /* 133.333% */
                    color: $gray-3;
                    margin: 0;
                    padding: 0;
                }
                .desktop-h4 {
                    /* Fonts Web/H4 */
            
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                    color: $gray-5;
                    margin: 0;
                    padding: 0;
                }
                .img-trades {
    
                }
            }
        }
    }

}


@mixin section-price-dark{
    .section-price {
        background-color: $dark-2;
        font-family: archivo;
    
        //background-color: #877dad;
        //padding: 64px;
        @media (min-width: $max_tablet) {
            padding-inline: 6px;
        }
    
        @media (min-width: $max_desktop) {
            padding-inline: 112px;
        }
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    
        .container-price {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 26px;
    
            .title {
                .desktop-h2 {
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 40px;
                    color: $white;
                }
            }
    
            .card-info {
                display: flex;
                flex-direction: row;
                justify-content: start;
                align-items: center;
                gap: 10px;
                padding: 16px;
                border-radius: 6px;
                background-color: $dark-1;
    
                .icon {}
    
                .text {
                    .a {
                        /* Fonts Web/H4 */
    
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px;
                        color: $white;
                    }
    
                    .b {
                        /* Fonts Web/H4 */
    
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px;
                        color: $white;
                    }
                }
            }
    
            .grid-price-info {
                display: grid;
                @media (min-width: $max_mobile){
                    grid-template-columns: repeat(1, auto);
                }
                @media (min-width: $max_tablet){
                    
                    grid-template-columns: repeat(2, auto);
                }
                @media (min-width: $max_desktop){
                    
                    grid-template-columns: repeat(3, auto);
                }
                gap: 20px;
                .card-price {
                    display: flex;
                    height: auto;
                    width: 100%;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 8px;
    
                    .t1 {
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px;
                        color: $white;
                        margin: 0;
                        padding: 0;
                    }
    
                    .t2 {
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 700;
                        line-height: 32px;
                        color: $white;
                        margin: 0;
                        padding: 0;
                    }
    
                    .text-area {
                        font-size: 16px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px;
                        text-align: justify;
                        color: $section;
                    }
                }
            }
    
            .payment {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 8px;
                .mobile-h2 {
                    /* Fonts Mobile/H2 */
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 32px;
                    /* 133.333% */
                    color: $white;
                    margin: 0;
                    padding: 0;
                }
                .desktop-h4 {
                    /* Fonts Web/H4 */
            
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                    color: $section;
                    margin: 0;
                    padding: 0;
                }
                .img-trades {
    
                }
            }
        }
    }

}


@include section-price-dark;