@import "../_partials/colors";
@import "../_partials/fonts";
@import "../_partials/card1-style";
@import "../_partials/btn-style";

body{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    @include card-version1;
    @include btn-pink;
}