@import "../_partials/colors";
@import "../_partials/fonts";

@mixin btn-atributes($color: $white, $color-border: $white) {
    font-family: archivo;
    height: 50px;
    width: 120px;
    color: $color;
    border-radius: 6px;
    border: 1.5px solid $color-border;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    cursor: pointer;
}

@mixin btn-atributes-large($color: $white, $color-border: $white) {
    font-family: archivo;
    height: 50px;
    min-width: 120px;
    color: $color;
    border-radius: 6px;
    border: 1.5px solid $color-border;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    cursor: pointer;
}


@mixin p-atributes {
    p {
        margin: 0;
        padding: 0;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
    }
}

// ------------ comp btn

@mixin btn-pink{
    .btn-pink {

        @include btn-atributes();

        background-color: $primary-pink;
        @include p-atributes();
    
    }
}

@mixin btn-pink-large{
    .btn-pink {

        @include btn-atributes-large();

        background-color: $primary-pink;
        @include p-atributes();
    
    }
}

@mixin btn-white{
    .btn-white {
        @include btn-atributes($black);

        background-color: $white;
        @include p-atributes();
    }
}

@mixin btn-white-large{
    .btn-white {

        @include btn-atributes-large($black);
        
        background-color: $white;
        @include p-atributes();
    }
}

@mixin btn-border{
    .btn-border {
        @include btn-atributes();
        .large-btn{
            @include btn-atributes-large();
        }
        background-color: transparent;
        @include p-atributes();
    }
}

@mixin btn-border-large{
    .btn-border {

        @include btn-atributes-large();
        background-color: transparent;
        @include p-atributes();
    }
}


@mixin btn-border-gray{
    .btn-border-gray {
        @include btn-atributes($gray-4, $gray-6);

        @include btn-atributes-large($gray-4, $gray-6);
        
        background-color: transparent;
        @include p-atributes();
    }

}

@mixin btn-border-gray-large{
    .btn-border-gray {

        @include btn-atributes-large($gray-4, $gray-6);
        
        background-color: transparent;
        @include p-atributes();
    }

}

