$primary-red: #C21F25;
$primary-pink: #EC148E;

$gray-1: #1C1B23;
$gray-2: #272530;
$gray-3: #3F3C4A;
$gray-4: #524F5F;
$gray-5: #7A7786;
$gray-6:#C6C5CE;

$section: #F1F0F5;

$dark-1: #1C1B23;
$dark-2: #272530;
$dark-3: #3F3C4A;
$dark-bar: #15141A;

$white: #fff;
$black: #000;

$gradient: linear-gradient(266deg, #EC148E 4.3%, #C21F25 109.08%);

$font-color: #4E4B59;




