@import "../_partials/colors";


@mixin section-space{
    .section-space{
        background-color: $white;
        height: 80px;
    }

}

@mixin section-space-dark1{
    .section-space{
        background-color: $dark-1;
        height: 80px;
    }
}

@mixin section-space-dark2{
    .section-space{
        background-color: $dark-2;
        height: 80px;
    }
}

@include section-space();