@import "../_partials/colors";
@import "../_partials/fonts";
@import "../_partials/sizes";
@import "../_partials/btn-style";


@mixin filter-container{
    .filter-container {
        font-family: archivo;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        color: $gray-4;
        padding: 5px;
        @media (min-width: $max_tablet) {
            
            display: flex;
            justify-content: center;
        }
    
    
        @media (min-width: $max_mobile) {
            .filter-list {
                background-color: $white;
                height: auto;
                width: auto;
                border-radius: 8px;
                border: 1px solid $gray-6;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: start;
                gap: 35px;
    
                .title {
                    display: flex;
                    flex-direction: row;
                    justify-content: start;
                    //background-color: green;
                    height: 50px;
                    width: 100%;
                    padding: 0;
                    border-top-right-radius: 8px;
                    border-top-left-radius: 8px;
    
                    p {
                        margin-left: 10px;
                        padding: 0;
                    }
                }
    
                .item-area {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    gap: 20px;
                    width: 100%;
    
                    .item {
                        display: flex;
                        flex-direction: row;
                        justify-content: start;
                        align-items: center;
                        height: 60px;
                        gap: 15px;
                        margin-top: 5px;
                        margin-inline: 20px;
                        margin-bottom: 10px;
                        padding-inline: 10px;
                        border-bottom: 1px solid $gray-6;
    
                        &:hover {
                            background-color: $primary-pink;
                            cursor: pointer;
                            color: $white;
    
                            svg {
                                path {
    
                                    fill: $white;
    
                                }
                            }
                        }
    
                        p {
                            margin: 0;
                            padding: 0;
    
                            &:hover {
                                color: $white;
                            }
                        }
    
                        .icon {
                            margin: 0;
                            padding: 0;
                            color: $primary-pink;
    
                            &:hover {
                                color: $white;
                            }
    
                        }
    
    
    
                    }
                }
    
                .area-btn {
                    width: 100%;
                    padding-inline: 10px;
                    margin-bottom: 20px;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
    
                    .btn-pink,
                    .btn-border-gray {
                        margin-inline: 15px
                    }
    
                    @include btn-border-gray-large;
                    @include btn-pink-large;
    
                }
            }
    
            .filter-bar {
                display: none;
            }
        }
    
        @media (min-width: $max_tablet) {
            .filter-list {
                display: none;
            }
    
            .filter-bar {
    
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;
                background-color: $white;
                border-radius: 100px;
                box-shadow: 3px 5px 15px 0px rgba(39, 37, 48, 0.20);
                gap: 10px;
                width: 90%;
                padding-inline: 25px;
    
                .item {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    text-align: center;
                    gap: 15px;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    padding: 10px;
    
                    &:hover {
    
                        background-color: $primary-pink;
                        cursor: pointer;
                        border-radius: 50px;
                        color: $white;
                        svg {
                            path {
    
                                fill: $white;
    
                            }
                        }
                    }
    
                    .icon {
                        margin: 0;
                        padding: 0;
    
                        &:hover {
                            color: $white;
                        }
                    }
    
                    p {
                        margin: 0;
                        padding: 0;
                    }
                }
            }
    
        }
    }

}

@mixin filter-container-dark{
    .filter-container {
        font-family: archivo;
        font-size: 20px;
        font-style: normal;
        font-weight: 400;
        line-height: 24px;
        color: $gray-4;
        padding: 5px;
        @media (min-width: $max_tablet) {
            
            display: flex;
            justify-content: center;
        }
    
    
        @media (min-width: $max_mobile) {
            .filter-list {
                background-color: $dark-1;
                height: auto;
                width: auto;
                border-radius: 8px;
                border: 1px solid $gray-6;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: start;
                gap: 35px;
    
                .title {
                    display: flex;
                    flex-direction: row;
                    justify-content: start;
                    //background-color: green;
                    height: 50px;
                    width: 100%;
                    padding: 0;
                    border-top-right-radius: 8px;
                    border-top-left-radius: 8px;
    
                    p {
                        margin-left: 10px;
                        padding: 0;
                    }
                }
    
                .item-area {
                    display: flex;
                    flex-direction: column;
                    justify-content: space-around;
                    gap: 20px;
                    width: 100%;
    
                    .item {
                        display: flex;
                        flex-direction: row;
                        justify-content: start;
                        align-items: center;
                        height: 60px;
                        gap: 15px;
                        margin-top: 5px;
                        margin-inline: 20px;
                        margin-bottom: 10px;
                        padding-inline: 10px;
                        border-bottom: 1px solid $gray-6;
    
                        &:hover {
                            background-color: $primary-pink;
                            cursor: pointer;
                            color: $white;
    
                            svg {
                                path {
    
                                    fill: $white;
    
                                }
                            }
                        }
    
                        p {
                            margin: 0;
                            padding: 0;
                            color: $white;
                            &:hover {
                                color: $white;
                            }
                        }
    
                        .icon {
                            margin: 0;
                            padding: 0;
                            color: $primary-pink;
    
                            &:hover {
                                color: $white;
                            }
    
                        }
    
    
    
                    }
                }
    
                .area-btn {
                    width: 100%;
                    padding-inline: 10px;
                    margin-bottom: 20px;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    color: $white;
    
                    .btn-pink,
                    .btn-border-gray {
                        margin-inline: 15px
                    }
    
                    @include btn-border-gray-large;
                    @include btn-pink-large;
    
                }
            }
    
            .filter-bar {
                display: none;
            }
        }
    
        @media (min-width: $max_tablet) {
            .filter-list {
                display: none;
            }
    
            .filter-bar {
    
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                justify-content: space-around;
                background-color: $white;
                border-radius: 100px;
                box-shadow: 3px 5px 15px 0px rgba(39, 37, 48, 0.20);
                gap: 10px;
                width: 90%;
                padding-inline: 25px;
    
                .item {
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    text-align: center;
                    gap: 15px;
                    margin-top: 10px;
                    margin-bottom: 10px;
                    padding: 10px;
    
                    &:hover {
    
                        background-color: $primary-pink;
                        cursor: pointer;
                        border-radius: 50px;
                        color: $white;
                        svg {
                            path {
    
                                fill: $white;
    
                            }
                        }
                    }
    
                    .icon {
                        margin: 0;
                        padding: 0;
    
                        &:hover {
                            color: $white;
                        }
                    }
    
                    p {
                        margin: 0;
                        padding: 0;
                    }
                }
            }
    
        }
    }

}

@mixin section-general{
    .section-general{
        background-color: $white;
        font-family: archivo;
        @media (min-width: $max_tablet) {
            padding-inline: 6px;
        }
    
        @media (min-width: $max_desktop) {
            padding-inline: 112px;
        }
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        .container{
            display: flex;
            flex-direction: column;
            
            gap: 20px;
            .title{
                display: flex;
                flex-direction: column;
                align-items: center;
                .desktop-h2 {
    
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 40px;
                    color: $gray-3;
                    margin: 0;

                }
                .desktop-h4 {
    
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                    color: $gray-5;
                }
            }
            .filter-area{
                @include filter-container;
            }
            .cards-area{
                display: grid;
                @media (min-width: $max_mobile) {
                    grid-template-columns: repeat(1, auto);
                }
                @media (min-width: $max_tablet) {
                    
                    grid-template-columns: repeat(2, auto);
                }
                @media (min-width: $max_desktop) {
                    
                    grid-template-columns: repeat(4, auto);
                }
                gap: 16px;
                //background-color: #c799f2;
                .card {
                    background-color: $white;
                    max-height: 800px;
                    height: auto;
                    //max-width: 300px;
                    width: 100%;
                    border-radius: 10px;
                    box-shadow: 0px 10px 6px -3px rgba(0, 0, 0, 0.1);
                    
                    .img-area {
                        position: relative;
                        background-color: #8a2be2;
                        height: 500px;
                        border-top-left-radius: 10px;
                        border-top-right-radius: 10px;
                        img {
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                            border-top-left-radius: 10px;
                            border-top-right-radius: 10px;
                        }
                        .icon-container-play {
                            position: absolute;
                            bottom: 10px;
                            right: 10px;
                            //background-color: #ffffff;
                            width: 100px;
                            height: 80px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            .i {
                                color: #ff00c3;
                                font-size: 24px;
                            }
                        }
                        .icon-container-fire {
                            position: absolute;
                            bottom: 10px;
                            left: 10px;
                            //background-color: #ffffff;
                            width: 100px;
                            height: 80px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            cursor: pointer;
                            .i {
                                color: #ff00c3;
                                font-size: 10%;
                            }
                        }
                        
                    }
                
                    .text-area {
                
                        color: $gray-3;
                        padding-inline: 8px;
                        padding-bottom: 5px;
                        p {
                            margin: 4px;
                        } 
                        .text1 {
                            font-size: 24px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 24px;
                
                            margin-top: 10px;
                        }
                
                        .text2 {
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 24px;
                
                            color: $gray-5;
                        }
                
                        .text3 {
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 24px;
                        }
                    }
                
                }
            }
        }
    }

}

@mixin section-general-dark{
    .section-seemore{
        background-color: $dark-2;
        font-family: archivo;
        @media (min-width: $max_tablet) {
            padding-inline: 6px;
        }
    
        @media (min-width: $max_desktop) {
            padding-inline: 112px;
        }
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
        .container{
            display: flex;
            flex-direction: column;
            
            gap: 20px;
            .title{
                display: flex;
                flex-direction: column;
                align-items: center;
                .desktop-h2 {
    
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 40px;
                    color: $white;
                }
            }
            .filter-area{
                display: flex;
                flex-direction: column;
                justify-content: center;
                @include filter-container-dark;
            }
            .cards-area{
                display: grid;
                @media (min-width: $max_mobile) {
                    grid-template-columns: repeat(1, auto);
                }
                @media (min-width: $max_tablet) {
                    
                    grid-template-columns: repeat(2, auto);
                }
                @media (min-width: $max_desktop) {
                    
                    grid-template-columns: repeat(4, auto);
                }
                gap: 16px;
                //background-color: #c799f2;
                .card {
                    background-color: $dark-1;
                    max-height: 800px;
                    height: auto;
                    //max-width: 300px;
                    width: 100%;
                    border-radius: 10px;
                    box-shadow: 0px 10px 6px -3px rgba(0, 0, 0, 0.1);
                    
                    .img-area {
                        position: relative;
                        background-color: #8a2be2;
                        height: 500px;
                        border-top-left-radius: 10px;
                        border-top-right-radius: 10px;
                        img {
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                            border-top-left-radius: 10px;
                            border-top-right-radius: 10px;
                        }
                        .icon-container-play {
                            position: absolute;
                            bottom: 10px;
                            right: 10px;
                            //background-color: #ffffff;
                            width: 100px;
                            height: 80px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            .i {
                                color: #ff00c3;
                                font-size: 24px;
                            }
                        }
                        .icon-container-fire {
                            position: absolute;
                            bottom: 10px;
                            left: 10px;
                            //background-color: #ffffff;
                            width: 100px;
                            height: 80px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            cursor: pointer;
                            .i {
                                color: #ff00c3;
                                font-size: 10%;
                            }
                        }
                        
                    }
                
                    .text-area {
                
                        color: $gray-3;
                        padding-inline: 8px;
                        padding-bottom: 5px;
                        p {
                            margin: 4px;
                        } 
                        .text1 {
                            font-size: 24px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 24px;
                            color: $white;
                            margin-top: 10px;
                        }
                
                        .text2 {
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 24px;
                
                            color: $section;
                        }
                
                        .text3 {
                            font-size: 18px;
                            font-style: normal;
                            font-weight: 600;
                            line-height: 24px;
                            color: $white;
                        }
                    }
                
                }
            }
        }
    }

}


@include section-general();