@import "../_partials/colors";
@import "../_partials/fonts";
@import "../_partials/sizes";

@mixin section-galery{
    .section-galery {
        font-family: archivo;
        background-color: $white;
        padding-top: 64px;
        padding-bottom: 64px;
    
        .container {
            max-width: 1500px;
            margin: 0 auto;
    
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 16px;
    
            .top-icon-text {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 6px;
                .desktop-h4 {
                    /* Fonts Web/H4 */
            
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                    color: $gray-3;
                    margin: 0;
                    padding: 0;
                }
            }
    
            .title {
                flex-direction: column;
                justify-content: center;
    
                .desktop-h2 {
    
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 40px;
                    color: $gray-3;
                    margin: 0;
                    padding: 0;
                }
            }
    
            .box-btn {
                display: flex;
                flex-direction: row;
                justify-content: center;
                flex-wrap: wrap;
                padding: 8px;
                border-radius: 6px;
                background-color: $white;
                box-shadow: 3px 5px 15px 0px rgba(39, 37, 48, 0.20);
                gap: 10px;
                .grid {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 6px;
                    padding: 8px;
                    cursor: pointer;
                    &:hover{
                        svg{
                            path{
                                fill: $primary-pink;
                            }
                        }
                    }
                    .desktop-btn {
                        /* Fonts Web/Button */
    
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 24px;
                        /* 133.333% */
                        color: $gray-3;
                    }
                }
                .compact {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 6px;
                    padding: 8px;
                    cursor: pointer;
                    &:hover{
                        svg{
                            path{
                                fill: $primary-pink;
                            }
                        }
                    }
                    .desktop-btn {
                        /* Fonts Web/Button */
    
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 24px;
                        /* 133.333% */
                        color: $gray-3;
                    }
                }
                .expand {
                    @media (max-width: $max_mobile) {
                        display: none;
                    }
                    @media (max-width: $max_tablet) {
                        display: none;
                    }
                    @media (min-width: $max_desktop) {
                        display: flex;
                    }
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 6px;
                    padding: 8px;
                    cursor: pointer;
                    &:hover{
                        svg{
                            path{
                                fill: $primary-pink;
                            }
                        }
                    }
                    .desktop-btn {
                        /* Fonts Web/Button */
    
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 24px;
                        /* 133.333% */
                        color: $gray-3;
                    }
                }
            }
            .grid-area-photo{
                display: grid;
                @media (min-width: $max_mobile) {
                    grid-template-columns: repeat(1, 1fr);
                }
                @media (min-width: $max_tablet) {
                    grid-template-columns: repeat(2, 1fr);
                }
                @media (min-width: $max_desktop) {
                    grid-template-columns: repeat(4, 1fr);
                }
                gap: 16px;
                .pic-box{
                    max-width: 800px;
                    max-height: 800px;
                    //background-color: blue;
                    border-radius: 8px;
    
                    display: flex;
                    align-items: center;
                    img{
                        width: 100%;
                        height: auto;
                        border-radius: 8px;
                    }
                }
            }
        }
    }

}

@mixin section-galery-dark{
    .section-galery {
        font-family: archivo;
        background-color: $dark-2;
        padding-top: 64px;
        padding-bottom: 64px;
    
        .container {
            max-width: 1500px;
            margin: 0 auto;
    
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            gap: 16px;
    
            .top-icon-text {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                gap: 6px;
                .desktop-h4 {
                    /* Fonts Web/H4 */
            
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                    color: $white;
                    margin: 0;
                    padding: 0;
                }
            }
    
            .title {
                flex-direction: column;
                justify-content: center;
    
                .desktop-h2 {
    
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 40px;
                    color: $white;
                    margin: 0;
                    padding: 0;
                }
            }
    
            .box-btn {
                display: flex;
                flex-direction: row;
                justify-content: center;
                flex-wrap: wrap;
                padding: 8px;
                border-radius: 6px;
                background-color: $dark-1;
                box-shadow: 3px 5px 15px 0px rgba(39, 37, 48, 0.20);
                gap: 10px;
                .grid {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 6px;
                    padding: 8px;
                    cursor: pointer;
                    svg{
                        path{
                            fill: $white;
                        }
                    }
                    &:hover{
                        svg{
                            path{
                                fill: $primary-pink;
                            }
                        }
                    }
                    .desktop-btn {
                        /* Fonts Web/Button */
    
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 24px;
                        /* 133.333% */
                        color: $white;
                    }
                }
                .compact {
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 6px;
                    padding: 8px;
                    cursor: pointer;
                    svg{
                        path{
                            fill: $white;
                        }
                    }
                    &:hover{
                        svg{
                            path{
                                fill: $primary-pink;
                            }
                        }
                    }
                    .desktop-btn {
                        /* Fonts Web/Button */
    
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 24px;
                        /* 133.333% */
                        color: $white;
                    }
                }
                .expand {
                    @media (max-width: $max_mobile) {
                        display: none;
                    }
                    @media (max-width: $max_tablet) {
                        display: none;
                    }
                    @media (min-width: $max_desktop) {
                        display: flex;
                    }
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 6px;
                    padding: 8px;
                    cursor: pointer;
                    svg{
                        path{
                            fill: $white;
                        }
                    }
                    &:hover{
                        svg{
                            path{
                                fill: $primary-pink;
                            }
                        }
                    }
                    .desktop-btn {
                        /* Fonts Web/Button */
    
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 24px;
                        /* 133.333% */
                        color: $white;
                    }
                }
            }
            .grid-area-photo{
                display: grid;
                @media (min-width: $max_mobile) {
                    grid-template-columns: repeat(1, 1fr);
                }
                @media (min-width: $max_tablet) {
                    grid-template-columns: repeat(2, 1fr);
                }
                @media (min-width: $max_desktop) {
                    grid-template-columns: repeat(4, 1fr);
                }
                gap: 16px;
                .pic-box{
                    max-width: 800px;
                    max-height: 800px;
                    //background-color: blue;
                    border-radius: 8px;
    
                    display: flex;
                    align-items: center;
                    img{
                        width: 100%;
                        height: auto;
                        border-radius: 8px;
                    }
                }
            }
        }
    }

}

@include section-galery;