@import "../_partials/colors";
@import "../_partials/fonts";

@mixin btn-atributes($color: $white) {
    font-family: archivo;
    height: 50px;
    width: 120px;
    color: $color;
    border-radius: 6px;
    border: 1.5px solid $color;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}


@mixin p-atributes {
    p {
        margin: 0;
        padding: 0;
        text-align: center;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 150%;
    }
}

// ------------ comp btn

.btn-pink {

    @include btn-atributes();
    background-color: $primary-pink;
    @include p-atributes();

}

.btn-white {
    @include btn-atributes($black);
    background-color: $white;
    @include p-atributes();
}

.btn-border {
    @include btn-atributes();
    background-color: transparent;
    @include p-atributes();
}

.btn-border-gray {
    @include btn-atributes($gray-4);
    background-color: transparent;
    @include p-atributes();
}