@import "../_partials/colors";
@import "../_partials/fonts";

.card-horizontal {
    font-family: archivo;
    color: $gray-3;
    position: relative;
    background-color: #ffffff;
    height: 240px;
    max-width: 500px;
    border-radius: 10px;
    /* box-shadow: 0px 10px 6px -3px rgba(0, 0, 0, 0.1); */
    .img-area {
        position: relative;
        background-color: #8a2be2;
        height: 100%;
        border-radius: 10px;
        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
            border-radius: 10px;
        }
    }
    .bottom-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 5px;
        margin-inline: 10px;
        .text-name p {
            margin: 0;
            padding: 0;
        }
        .location-container{
            display: flex;
            flex-direction: row;
            gap: 4px;
            p {
                margin: 0;
                padding: 0;
            }
            .i{
                color: #7a7786;
            }
        }
    }


}
