
.section-homephoto2{

    .filter {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        .btn-filter-area {
            display: flex;
            flex-direction: row;
            gap: 6px;
            justify-content: center;
            align-items: center;
            width: 485px;
            
            .filter-text{
                width: 90px;
            }
            .btn-all, .btn-photo, .btn-videos {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                width: 100%;
                gap: 6px;
                padding: 8px;
                border-radius: 8px;
                border: 1px solid $gray-5;
                cursor: pointer;
                i{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                }

            }

        }

        .btn-order-area {
            display: flex;
            flex-direction: row;
            gap: 6px;
            justify-content: center;
            align-items: center;
            width: 350px;

            .btn-data, .btn-like  {
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: center;
                width: 100%;
                gap: 6px;
                padding: 8px;
                border-radius: 8px;
                border: 1px solid $gray-5;
                cursor: pointer;
            }

        }
    }

}