
.fixedbar-sticky{
    position: sticky;
    top: 88px;
    z-index: 1;
}

.section-fixedbar{
    background-color: $white;
    margin-bottom: 88px;
    padding: 8px;
    box-shadow: 5px 5px 20px 0px rgba(0, 0, 0, 0.10);
/*     position: sticky;
    top: 86px;
    z-index: 1; */

    .container-fixedbar{
        display: flex;
        @media (min-width: $max_mobile) {
            flex-wrap: wrap;
        }
        @media (min-width: $max_tablet) {
            flex-wrap: nowrap;
        }
        flex-direction: row;
        justify-content: space-around;
        padding-top: 6px;
        padding-bottom: 6px;


        .item{
            display: flex;
            @media (min-width: $max_mobile) {
                flex-direction: column;
            } 
            @media (min-width: $max_tablet) {
                flex-direction: row;
                
            }
            
            align-items: center;
            justify-content: center;
            flex: 1 0 10px;
            padding: 0;
            margin: 0;
            gap: 8px;
            cursor: pointer;


            .icon{

            }
            .desktop-btn {
                /* Fonts Web/Button */
                @media (min-width: $max_mobile) {
                    font-size: 10px;
                }
                @media (min-width: $max_tablet) {
                    font-size: 18px;
                    
                }
                font-style: normal;
                font-weight: 600;
                line-height: 24px;
                /* 133.333% */
                color: $gray-3;
            }
        }
    }
}



.dark{
    .section-fixedbar{
        background-color: $dark-secondary;

    
        .container-fixedbar{            
    
            .item{

                .desktop-btn {
                    color: $white;
                }
            }
        }
    }
}