.section-gallery {
    background-color: $white;
    padding-top: 64px;
    padding-bottom: 64px;

    .container-gallery {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;

        .top-icon-text {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 6px;
        }

        .title {
            flex-direction: column;
            justify-content: center;

        }

        .box-btn {
            display: flex;
            flex-direction: row;

            justify-content: center;
            flex-wrap: wrap;
            padding: 8px;
            border-radius: 6px;
            background-color: $white;
            box-shadow: 3px 5px 15px 0px rgba(39, 37, 48, 0.20);
            gap: 10px;
            max-height: 56px;

            @media (max-width: 768px) {
                .btn-grid {
                    display: none;
                }
            }

            .btn-grid, .btn-expand, .btn-compact{
                display: flex;
            }

            .btn-action {
                
                flex-direction: row;
                //align-items: center;
                gap: 6px;
                padding: 8px;
                margin: 0px;
                cursor: pointer;

                svg {
                    path {
                        fill: $gray-6;
                    }
                }

                &:hover {
                    svg {
                        path {
                            fill: $primary-pink;
                        }
                    }
                }


            }

            .btn-active {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 6px;
                padding: 8px;
                cursor: pointer;

                svg {
                    path {
                        fill: $primary-pink;
                    }
                }

                .desktop-btn {
                    /* Fonts Web/Button */

                    font-size: 18px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 24px;
                    /* 133.333% */
                    color: $primary-pink;
                }
            }

        }


        .grid-area-photo {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;


            img {
                object-fit: cover;
                width: 99%;
                height: 98%;
            }
        }
    }

}



.col-pic {
    display: inline-block;
    width: auto;
    max-width: initial;
    flex: none;
    height: 100px;
    max-height: 100px;

}


.dark {
    .section-gallery {
        background-color: $dark-secondary;

        .container-gallery {


            .box-btn {

                background-color: $dark-primary;

                .btn-action {

                    svg {
                        path {
                            fill: $white;
                        }
                    }

                    &:hover {
                        svg {
                            path {
                                fill: $primary-pink;
                                ;
                            }
                        }
                    }


                }

                .btn-active {

                    svg {
                        path {
                            fill: $primary-pink;
                        }
                    }

                    .desktop-btn {

                        color: $primary-pink;
                    }
                }
            }

            .box-btn-2 {
                background-color: $dark-primary;

                .btn-action {

                    svg {
                        path {
                            fill: $white;
                        }
                    }

                    &:hover {
                        svg {
                            path {
                                fill: $primary-pink;
                                ;
                            }
                        }
                    }

                }

                .btn-active {

                    svg {
                        path {
                            fill: $primary-pink;
                        }
                    }

                    .desktop-btn {

                        color: $primary-pink;
                    }
                }
            }
        }
    }
}