

.card-dropdown {
        
    border-radius: 6px;
    background-color: $section;
    min-width: 375px;
    .area-top {
        padding: 24px;
        gap: 16px;
        flex-wrap: nowrap;
        .title{
            display: flex;
            gap: 16px;
            flex-wrap: nowrap;
            .text-title{
                display: flex;
                align-items: center;
                //min-width: 300px;
            }
        }
        .btn-dd{
            &:hover{
                cursor: pointer;
            }
        }

    }

    @for $i from 1 through 5{
        .area-text#{$i}{
            > p{
                padding-inline: 26px;
            }
        }
    } 

}


.dark{
    .card-dropdown{
        background-color: $dark-primary;

    }
}


.section-security {
    background-color: $white;

    
    .container-security {
        margin: 0 auto;
        min-width: 360px;
        max-width: 1500px;
        .title-security {
            display: flex;
            flex-direction: row;
            gap: 10px;
            align-items: center;

            .desktop-h2 {

                font-size: 32px;
                font-style: normal;
                font-weight: 600;
                line-height: 40px;
                color: $gray-3;
            }
        }


        .bar1, .bar-list-area {
            display: flex;
            flex-direction: column;
            gap: 16px;
            .desktop-h3 {

                font-size: 24px;
                font-style: normal;
                font-weight: 400;
                line-height: 32px;
                /* 133.333% */
                color: $gray-4;
            }
        }

    }
}


.dark{
    .section-security {
        background-color: $dark-secondary;
        
        .container-security {

            .title-security {
    
                .desktop-h2 {
                    color: $white;
                }
            }
    

    
            .bar1, .bar-list-area {
                .desktop-h3 {

                    color: $white;
                }
            }
    
        }
    }
}