
.breadcrumb{
    > ul {        
        list-style: none;        
        li {                     
            &::after{
                content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M8.59003 16.58L13.17 12L8.59003 7.41L10 6L16 12L10 18L8.59003 16.58Z" fill="grey"/></svg>');
                display: inline-block;
                width: 24px;
                height: 24px;                
            }
        }
        li:last-child{
            &::after{
                content: '';                
            }
        };
    }
}
.top-page{
    margin-top: 88px;
    background-color: $section;    
    .box-500{
        max-width: 600px;
        padding: 250px 30px 30px 30px;
    }


    @media (max-width: $min_tablet) {
        .box-500{
            max-width: 100%;
            text-align: center;
            max-width: 100%;
            text-align: center;
            .fs-48{
                font-size: 36px;
            }
        }
    }



}   

.dark{

    .breadcrumb{
        > ul {
            li {
                
                &::after{
                    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path d="M8.59003 16.58L13.17 12L8.59003 7.41L10 6L16 12L10 18L8.59003 16.58Z" fill="white"/></svg>');                    
    
                }
            }
            li:last-child{
                &::after{
                    content: '';                
                }
            };
        }
    }

    .top-page{
        .dark-grey{
            color: $white;
        }
        .gray-5{
            color: $gray-6;
        }
        background-color: $gray-1;
    }
}




