@import "../colors";
@import "../components/object-card-social";
@import "../sizes";


@mixin section-homephoto{
    .section-homephoto {
        font-family: archivo;
        background-color: $white;
        padding-top: 64px;
        padding-bottom: 64px;
        .container {
            max-width: 1500px;
            margin: 0 auto;
            .text-area {
                display: flex;
                flex-direction: column;
    
                .titile {
                    .desktop-h2 {
    
                        font-size: 32px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 40px;
                        text-align: center;
                        color: $gray-3;
                    }
    
                }
    
                .subheading {
                    .desktop-h4 {
                        /* Fonts Web/H4 */
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px;
                        text-align: center;
                        color: $gray-5;
                    }
                }
            }
    
            .cards-area {
                display: grid;
                @media (min-width: $max_tablet) {
                    
                    grid-template-columns: repeat(1, 1fr);
                }
                @media (min-width: $max_desktop) {
                    
                    grid-template-columns: repeat(2, 1fr);
                }
                @include card-social();
            }
        }
    }

}

@mixin section-homephoto-dark{
    .section-homephoto {

        background-color: $dark-2;

    
        .container {

            .text-area {

    
                .titile {
                    .desktop-h2 {

                        color: $white;
                    }
    
                }
    
                .subheading {
                    .desktop-h4 {

                        color: $white;
                    }
                }
            }
    
            .cards-area {
                display: grid;
                gap: 10px;

                @media (min-width: $max_tablet) {
                    
                    grid-template-columns: repeat(1, 1fr);
                }
                @media (min-width: $max_desktop) {
                    
                    grid-template-columns: repeat(2, 1fr);
                }
                @include card-social-dark();
            }
        }
    }

}