@import "../colors";


@mixin section-space{
    .section-space{
        background-color: $white;
        height: 80px;
    }
    .section-space-dark1{
        display: none;
    }
    .section-space-dark2{
        display: none;
    }

}

@mixin section-space-dark1{
    .section-space-dark1{
        background-color: $dark-1;
        height: 80px;
    }
    .section-space-dark2{
        display: none;
    }
    .section-space{
        display: none;
    }
}

@mixin section-space-dark2{
    .section-space-dark2{
        background-color: $dark-2;
        height: 80px;
    }
    .section-space-dark1{
        display: none;
    }
    .section-space{
        display: none;
    }
}

//@include section-space();