@import "../_partials/colors";
@import "../_partials/fonts";
@import "../_partials/sizes";


@mixin card-dropdown {
    .card-dropdown {
        font-family: archivo;
        background-color: $section;
        height: auto;
        width: auto;
        border-radius: 10px;

        .container{
            padding-inline: 24px;
            .area-top {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding-top: 24px;
                padding-bottom: 24px;
                
        
                .title {
                    display: flex;
                    flex-direction: row;
                    margin: 0;
                    padding: 0;
                    gap: 16px;
                    align-items: center;
        
                    .number {
                        color: $primary-pink;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 32px;
                        margin: 0;
                        padding: 0;
                    }
        
                    .text-title {
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px;
                        margin: 0;
                        padding: 0;
                        color: $gray-4;
                    }
                }
        
                .btn {
                    cursor: pointer;
                    padding: 5px;
        
                    i {
                        margin: 0;
                        padding: 0;
                    }
                }
            }
        
            .area-text {
                display: none;
                border-top: 1px solid $gray-6;
                p {
                    @include mobile-h4;
                    color: $gray-4;
                    padding-top: 24px;
                    padding-bottom: 24px;
                }
            }
    
        }
    
    }
}

@mixin card-dropdown-dark {
    .card-dropdown {
        font-family: archivo;
        background-color: $dark-1;
        height: auto;
        width: auto;
        border-radius: 10px;

        .container{
            padding-inline: 24px;
            .area-top {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                padding-top: 24px;
                padding-bottom: 24px;
                
        
                .title {
                    display: flex;
                    flex-direction: row;
                    margin: 0;
                    padding: 0;
                    gap: 16px;
                    align-items: center;
        
                    .number {
                        color: $primary-pink;
                        font-size: 24px;
                        font-style: normal;
                        font-weight: 600;
                        line-height: 32px;
                        margin: 0;
                        padding: 0;
                    }
        
                    .text-title {
                        font-size: 20px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px;
                        margin: 0;
                        padding: 0;
                        color: $section;
                    }
                }
        
                .btn {
                    cursor: pointer;
                    padding: 5px;
        
                    i {
                        margin: 0;
                        padding: 0;
                    }
                }
            }
        
            .area-text {
                display: none;
                border-top: 1px solid $gray-6;
                p {
                    @include mobile-h4;
                    color: $section;
                    padding-top: 24px;
                    padding-bottom: 24px;
                }
            }
    
        }
    
    }
}

@mixin section-security{
    .section-security {
        background-color: $white;
        font-family: archivo;
    
        //background-color: #877dad;
        //padding: 64px;
        @media (min-width: $max_mobile) {
            padding-inline: 16px;
        }
    
        @media (min-width: $max_tablet) {
            padding-inline: 112px;
        }
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        .container {
            .title {
                display: flex;
                flex-direction: row;
                gap: 10px;
                align-items: center;
    
                .desktop-h2 {
    
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 40px;
                    color: $gray-3;
                }
            }
    
            .level-bar {
    
            }
    
            .bar1 {
                .desktop-h3 {
                    /* Fonts Web/H3 */
    
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 32px;
                    /* 133.333% */
                    color: $gray-4;
                }
                @include card-dropdown();
            }
            .bar-list-area{
                display: flex;
                flex-direction: column;
                gap: 16px;
                .desktop-h3 {
                    /* Fonts Web/H3 */
    
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 32px;
                    /* 133.333% */
                    color: $gray-4;
                }
                @include card-dropdown();
            }
    
        }
    }

}


@mixin section-security-dark{
    .section-security {
        background-color: $dark-2;
        font-family: archivo;
    
        //background-color: #877dad;
        //padding: 64px;
        @media (min-width: $max_tablet) {
            padding-inline: 6px;
        }
    
        @media (min-width: $max_desktop) {
            padding-inline: 112px;
        }
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        .container {
            .title {
                display: flex;
                flex-direction: row;
                gap: 10px;
                align-items: center;
    
                .desktop-h2 {
    
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 40px;
                    color: $white;
                }
            }
    
            .level-bar {
    
            }
    
            .bar1 {
                .desktop-h3 {
                    /* Fonts Web/H3 */
    
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 32px;
                    /* 133.333% */
                    color: $section;
                }
                @include card-dropdown-dark();
            }
            .bar-list-area{
                display: flex;
                flex-direction: column;
                gap: 16px;
                .desktop-h3 {
                    /* Fonts Web/H3 */
    
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 32px;
                    /* 133.333% */
                    color: $section;
                }
                @include card-dropdown-dark();
            }
    
        }
    }

}

@include section-security;