@import "../_partials/colors";
@import "../_partials/fonts";
@import "../_partials/sizes";

@mixin section-hc{
    .horiz-card{
        background-color: $white;
        font-family: archivo;
        @media (min-width: $max_mobile) {
            padding-inline: 16px;
        }
        @media (min-width: $max_tablet) {
            padding-inline: 16px;
        }
        @media (min-width: $max_desktop) {
            padding-inline: 112px;
        }
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;
    
        .container-hc{
            display: flex;
            flex-direction: column;
            width: 100%;
            .text-area{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                margin: 0;
                padding: 0;
                .desktop-h2 {
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 40px;
                }
                .desktop-h4 {
                    /* Fonts Web/H4 */
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                }
            }
            .card-area{
                display: grid;
                @media (min-width: $max_mobile){
                    grid-template-columns: repeat(1, auto);
                }
                @media (min-width: $max_tablet){
                    grid-template-columns: repeat(2, auto);
                }
                
                //width: auto;
    
                gap: 10px;
                .card-horizontal {
                    font-family: archivo;
                    color: $gray-3;
                    position: relative;
                    //background-color: #ffffff;
                    height: 340px;
                    min-height: 100px;
                    max-width: 100%;
                    min-width: 300px;
                    //width: 800px;
                    padding-bottom: 20px;
                    //padding-inline: 20px;
                    border-radius: 10px;
                    /* box-shadow: 0px 10px 6px -3px rgba(0, 0, 0, 0.1); */
                    .img-area {
                        position: relative;
                        background-color: #8a2be2;
                        height: 100%;
                        border-radius: 10px;
                        img {
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                            border-radius: 10px;
                        }
                    }
                    .bottom-container {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        margin-top: 5px;
                        margin-inline: 10px;
                        .text-name p {
                            margin: 0;
                            padding: 0;
                        }
                        .location-container{
                            display: flex;
                            flex-direction: row;
                            gap: 4px;
                            p {
                                margin: 0;
                                padding: 0;
                            }
                            .i{
                                color: #7a7786;
                            }
                        }
                    }
                
                
                }
            }
        }
    }
}

@mixin section-hc-dark{
    .horiz-card{
        background-color: $dark-2;
        font-family: archivo;
        @media (min-width: $max_mobile) {
            padding-inline: 16px;
        }
        @media (min-width: $max_tablet) {
            padding-inline: 16px;
        }
        @media (min-width: $max_desktop) {
            padding-inline: 112px;
        }
    
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-content: center;

    
        .container-hc{
            display: flex;
            flex-direction: column;
            width: 100%;
            .text-area{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                margin: 0;
                padding: 0;
                .desktop-h2 {
                    font-size: 32px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 40px;
                    color: $white;
                }
                .desktop-h4 {
                    /* Fonts Web/H4 */
                    font-size: 20px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 24px;
                    color: $section;
                }
            }
            .card-area{
                display: grid;
                @media (min-width: $max_mobile){
                    grid-template-columns: repeat(1, auto);
                }
                @media (min-width: $max_tablet){
                    grid-template-columns: repeat(2, auto);
                }
                
                //width: auto;
    
                gap: 10px;
                .card-horizontal {
                    font-family: archivo;
                    color: $gray-3;
                    position: relative;
                    //background-color: #ffffff;
                    height: 340px;
                    min-height: 100px;
                    max-width: 100%;
                    min-width: 300px;
                    //width: 800px;
                    padding-bottom: 20px;
                    //padding-inline: 20px;
                    border-radius: 10px;
                    /* box-shadow: 0px 10px 6px -3px rgba(0, 0, 0, 0.1); */
                    .img-area {
                        position: relative;
                        background-color: #8a2be2;
                        height: 100%;
                        border-radius: 10px;
                        img {
                            height: 100%;
                            width: 100%;
                            object-fit: cover;
                            border-radius: 10px;
                        }
                    }
                    .bottom-container {
                        display: flex;
                        flex-direction: row;
                        justify-content: space-between;
                        margin-top: 5px;
                        margin-inline: 10px;
                        .text-name p {
                            margin: 0;
                            padding: 0;
                            color: $white;
                        }
                        .location-container{
                            display: flex;
                            flex-direction: row;
                            gap: 4px;
                            color: $white;
                            p {
                                margin: 0;
                                padding: 0;
                            }
                            .i{
                                color: $white;
                            }
                        }
                    }
                
                
                }
            }
        }
    }
}

@include section-hc;