@import "../_partials/colors";
@import "../_partials/fonts";
@import "../_partials/sizes";

@mixin section-notification{
    .section-notification {
        font-family: archivo;
        background-color: $white;
        @media (min-width: $max_tablet) {
            padding-inline: 6px;
        }
        @media (min-width: $max_desktop) {
            padding-inline: 112px;
        }
        .container {
            .title {
                .desktop-h3 {
                    /* Fonts Web/H3 */
    
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 32px;
                    /* 133.333% */
                    color: $gray-3;
                }
            }
    
            .info-area {
                .date {
                    margin: 0;
                    padding: 0;
    
                    p {
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 16px;
                        color: $gray-5;
                    }
                }
    
                .icon-text {
                    display: flex;
                    @media (min-width: $max_mobile) {
                        flex-direction: column;
                    }
                    @media (min-width: $max_desktop) {
                        
                        flex-direction: row;
                    }
                    flex: 0 1 100px;
                    gap: 8px;
    
                    .icon {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        background-color: $primary-pink;
                        width: 50px;
                        border-radius: 8px;
                        padding: 6px;
    
                        i {
                            margin: 0;
                            padding: 0;
                        }
    
                        .mini-text {
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 16px;
                            margin: 0;
                            padding: 0;
                            color: $white;
    
                        }
                    }
    
                    .mobile-h3 {
                        /* Fonts Mobile/H3 */
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px;
                        /* 133.333% */
                        margin: 0;
                        padding: 0;
                        color: $gray-5;
                        span{
                            color: $primary-pink;
                        }
                    }
                }
            }
        }
    }

}

@mixin section-notification-dark{
    .section-notification {
        font-family: archivo;
        background-color: $dark-2;
        @media (min-width: $max_tablet) {
            padding-inline: 6px;
        }
        @media (min-width: $max_desktop) {
            padding-inline: 112px;
        }
        .container {
            .title {
                .desktop-h3 {
                    /* Fonts Web/H3 */
    
                    font-size: 24px;
                    font-style: normal;
                    font-weight: 400;
                    line-height: 32px;
                    /* 133.333% */
                    color: $white;
                }
            }
    
            .info-area {
                .date {
                    margin: 0;
                    padding: 0;
    
                    p {
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 16px;
                        color: $section;
                    }
                }
    
                .icon-text {
                    display: flex;
                    @media (min-width: $max_mobile) {
                        flex-direction: column;
                    }
                    @media (min-width: $max_desktop) {
                        
                        flex-direction: row;
                    }
                    flex: 0 1 100px;
                    gap: 8px;
    
                    .icon {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        background-color: $primary-pink;
                        width: 50px;
                        border-radius: 8px;
                        padding: 6px;
    
                        i {
                            margin: 0;
                            padding: 0;
                        }
    
                        .mini-text {
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 500;
                            line-height: 16px;
                            margin: 0;
                            padding: 0;
                            color: $white;
    
                        }
                    }
    
                    .mobile-h3 {
                        /* Fonts Mobile/H3 */
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 24px;
                        /* 133.333% */
                        margin: 0;
                        padding: 0;
                        color: $section;
                        span{
                            color: $primary-pink;
                        }
                    }
                }
            }
        }
    }

}

@include section-notification();